[2022-03-09 03:41] intesar opened #1 "[Bug]: test"
### Severity

Non-Blocker

### What happened?

Write a brief report...

[2022-03-09 04:01] sarasheed opened #2 "[Bug]: testing"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-03-09 04:47] Abdullah-Akbar opened #3 "[Feature]: ABC Integration"
### Please describe your problem?

Write a brief problem report...

### How important is this feature?

Very Important

### Describe the solution you'd like?

Write a brief solution report...

[2022-03-09 04:53] ImranShaik065 opened #4 "[Feature]: Move To Github Issues (Testing)"
### Please describe your problem?

Testing GitHub Issues

### How important is this feature?

Nice to Have

### Describe the solution you'd like?

Lets see how it works

[2022-03-09 05:01] MuqeedA opened #5 "[Feature]: Download summary report (dummy)"
### Please describe your problem?

user should be able to download summary report in pdf format.

### How important is this feature?

Nice to Have

### Describe the solution you'd like?

Write a brief solution report...

[2022-03-09 05:21] Mohammed-Luqman-Shareef opened #6 "[Bug]: Test Bug created by luqman"
### Severity

Blocker

### What happened?

Description...........

[2022-03-09 05:22] Mohammed-Luqman-Shareef opened #7 "[Feature]: Its a new feature test"
### Please describe your problem?

Write a brief problem report...

### How important is this feature?

Very Important

### Describe the solution you'd like?

Write a brief solution report...

[2022-03-09 05:27] jaleelsyed opened #8 "[Bug]:"
### Severity

Non-Blocker

### What happened?

Write a brief report...

[2022-03-09 06:03] AkaramAli opened #9 "[Feature]:"
### Please describe your problem?

Write a brief problem report...

### How important is this feature?

Nice to Have

### Describe the solution you'd like?

Write a brief solution report...

[2022-03-09 16:10] Mohammed-Luqman-Shareef opened #10 "[Vulnerability]: Test Vul"
### Severity

Medium

### What happened?

This is test

[2022-03-09 17:50] #10 closed

[2022-03-09 17:57] danapisec opened #11 "[Feature]: Update login prompt"
### Please describe your problem?

Currently when a user's login expires they are presented with an alarming message "Something went wrong." Would be friendlier to say something like "Please login."

### How important is this feature?

Nice to Have

### Describe the solution you'd like?

Change the popup to a friendly message - or just present the login fields.

[2022-03-10 02:28] #2 closed

[2022-03-10 02:28] #1 closed

[2022-03-10 02:29] #4 closed

[2022-03-10 02:29] #5 closed

[2022-03-10 02:29] #6 closed

[2022-03-10 02:29] #7 closed

[2022-03-10 02:29] #8 closed

[2022-03-10 02:29] #9 closed

[2022-03-10 02:44] intesar opened #12 "[Bug]: Images missing in new Release Notes"
### Severity

Non-Blocker

### What happened?

@muqeetkhan20

The new release notes are missing product images. Please migrate the old product images to the new site with an elegant look. Also, all new features in release notes should have product images.

Old release notes: https://apisec-inc.github.io/releases/
New release notes: https://apisec-inc.github.io/releases/

[2022-03-10 04:56] fersy02 opened #13 "[Feature]: HMAC Authentication for Supreme Lending"
### Please describe your problem?

Swagger and authentication details are available here:
https://app.hubspot.com/contacts/6447911/ticket/802887841/

### How important is this feature?

Very Important

### Describe the solution you'd like?

Support for HMAC is required for authentication. There are no alternatives for this feature.
The implementation for Supreme Lending is documented in the attach

[2022-03-10 05:31] MuqeedA commented on #11
Changes completed as below

![image](https://user-images.githubusercontent.com/87184027/157595993-82095697-41e1-4d77-8674-ff41b08c2ee5.png)

[2022-03-10 06:00] intesar commented on #13
@fersy02 remove sensitive data like org names in tickets.

[2022-03-10 08:06] fersy02 commented on #13
@intesar - Replaced client name and attachments with Hubspot link

[2022-03-10 18:07] muqeetkhan20 commented on #11
@intesar & @MuqeedA  I think this message looks pretty clear for the end user
![image](https://user-images.githubusercontent.com/68276700/157727224-6230aa5e-3e25-4619-8d6a-c223484e61c8.png)

[2022-03-10 19:32] intesar commented on #11
Looks good. Please proceed with this design.

[2022-03-11 05:35] Mohammed-Luqman-Shareef commented on #13
@fersy02 We dont have hubspot access.  Can you get access for us to look into the ticket.

[2022-03-11 05:40] MuqeedA commented on #11
As per the discussion , changes completed as below.
![image](https://user-images.githubusercontent.com/87184027/157809040-d5eea05e-aaae-4c24-ac33-1681d7cba750.png)

[2022-03-11 06:27] fersy02 commented on #13
@Mohammed-Luqman-Shareef emailed all the necessary details as Engineering doesn't have access to Hubspot.

[2022-03-11 20:59] intesar opened #14 "[Bug]: [Blocker] Demo Netbanking API became slow"
### Severity

Blocker

### What happened?

The netbanking API became extremely slow. Try loading the below URL in a browser.
http://application.apisec.ai:8080/v2/api-docs

[2022-03-12 05:28] #14 closed

[2022-03-12 05:28] sarasheed commented on #14
Restarted netbanking application.

[2022-03-14 04:48] MuqeedA commented on #11
Made few more changes as per the request  from QA team
![image](https://user-images.githubusercontent.com/87184027/158106722-bcf5c57e-c3e5-4099-b8c9-75d9ed37e4b2.png)

[2022-03-14 17:58] fersy02 opened #15 "[Bug]: Project registered with no endpoints"
### Severity

Blocker

### What happened?

Tried registering a project and found the following error in the activity logs:
Spec parsing error: java.lang.NullPointerException

The OAS shows no errors in the editor.swagger.io
[openapi.zip](https://github.com/apisec-inc/Support/files/8247413/openapi.zip)

[2022-03-14 19:51] Abdullah-Akbar commented on #15
This is fixed.  We have 170 endpoints with 2029 playbooks now. Tested in dev environment.
![image](https://user-images.githubusercontent.com/89911730/158250016-dc2e9f75-fd01-4e12-9712-e816698b2581.png)

[2022-03-15 07:15] #15 closed

[2022-03-15 10:54] AkaramAli commented on #13
@Mohammed-Luqman-Shareef

As discussed ,
I have gone the steps in the documentation shared by @fersy02  in the email and tried to write a standalone program in Java ,as of now connection is getting timeout while calling the API  due to access issues .
Also this implementation of HMAC Authentication is very specific to one client ,therefore we need to discuss a generic approach to support this kind

[2022-03-15 20:03] fersy02 opened #16 "[Vulnerability]: authorization header fails to mask the token"
### Severity

High

### What happened?

The Authorization header is automatically masked in the wirelogs. However, it was found that the keyword is case-sensitive and the value is masked only when the Authorization starts with A and the rest is in small letters.
![image](https://user-images.githubusercontent.com/47815523/158462160-3ddccf2d-6d7a-4ead-bd65-fd147a9a157c.png)

The Authorization keywor

[2022-03-16 05:18] fersy02 opened #17 "[Bug]: Scans are waiting indefinitely or failing to run playbooks"
### Severity

Blocker

### What happened?

Scans are not getting logged in activities but getting completed. No evidence of playbooks execution in the scans.

[2022-03-16 05:53] muqeetkhan20 commented on #16
@fersy02 looks like this is customer specific, unable to reproduce this bug in NB tenant.

[2022-03-16 07:06] fersy02 commented on #16
Able to reproduce it in the NetBanking tenant and project. This is a generic issue with a **Token** authentication type:
![image](https://user-images.githubusercontent.com/47815523/158535000-a18ccbc2-0da2-4326-8bf1-719fb779012e.png)

[2022-03-16 08:05] Abdullah-Akbar commented on #17
It has been resolved. Please try now.

[2022-03-16 08:09] fersy02 commented on #17
This is working fine. Closing this issue

[2022-03-16 08:09] #17 closed

[2022-03-16 17:18] AtifaFahmeen commented on #16
Authorization header is made case insensitive. As im unable to reproduce in Netbanking project, @fersy02 / @muqeetkhan20  can you please test the specific scenario and confirm.

[2022-03-16 21:49] ChrisApi opened #18 "[Bug]: Encountering 403 error when trying to register API"
### Severity

Blocker

### What happened?

Write a brief report...
<img width="1361" alt="image" src="https://user-images.githubusercontent.com/101754571/158696873-b9f3ee2b-ec15-41af-a568-3bd05dcd81a2.png">

[2022-03-16 21:51] intesar commented on #18
@ChrisApi What's the org/tenant name?

[2022-03-16 21:54] intesar opened #19 "[Bug]: [Blocker] Tests are getting executed several times"
### Severity

Blocker

### What happened?

Run Unsecured against Super_1, 2, and 3. You'll see tests are getting executed several times.

[2022-03-16 22:03] ChrisApi commented on #18
Org is NetBanking

On Wed, Mar 16, 2022 at 2:51 PM Intesar Shannan Mohammed <
***@***.***> wrote:

--
Christopher Smith | (360) 298 - 4172
Account Executive | LinkedIn
<https://www.linkedin.com/in/christopher-smith-789149161/>

[2022-03-17 04:12] intesar commented on #18
@ChrisApi I assign you the admin privileges. You need to logout first.

[2022-03-17 04:42] intesar commented on #19
@Mohammed-Luqman-Shareef @Abdullah-Akbar @muqeetkhan20  This is blocking all tests. Please look into it first thing.

[2022-03-17 04:43] intesar commented on #12
@muqeetkhan20 can you assign someone to work on this?

[2022-03-17 09:19] muqeetkhan20 commented on #16
@AtifaFahmeen tested in dev environment, it's fixed now. You can move this ticket to done. QA will close this ticket only after verifying in prod.

[2022-03-17 09:23] muqeetkhan20 commented on #11
@MuqeedA as discussed on the call, let's improve the look and feel by applying the color (preferably blue)

[2022-03-17 14:35] ChrisApi commented on #18
Logged out of APIsec dashboard.

-Chris

On Wed, Mar 16, 2022 at 9:12 PM Intesar Shannan Mohammed <
***@***.***> wrote:

--
Christopher Smith | (360) 298 - 4172
Account Executive | LinkedIn
<https://www.linkedin.com/in/christopher-smith-789149161/>

[2022-03-17 15:37] intesar commented on #18
@ChrisApi is the issue resolved?

[2022-03-17 17:28] muqeetkhan20 commented on #19
@intesar this is fixed, we don't see any duplicate test results now.
We have tried unsecured for all the super scanners in prod.

[2022-03-17 18:05] intesar commented on #19
thanks.

[2022-03-18 06:08] muqeetkhan20 commented on #12
@intesar screenshots uploaded for 2022 new features by @Rahman-1234
Hence, closing this ticket

[2022-03-18 06:08] #12 closed

[2022-03-18 06:08] #19 closed

[2022-03-19 06:58] muqeetkhan20 opened #20 "[Bug]: Free Account"
### Severity

Blocker

### What happened?

- [x] Request more licenses link is broken in advance section.
- [x] Reports tab should be restricted similar to integration tab, we should not allow the free user to enter in the summary or coverage tabs by showing the popup window (upgrade license).

[2022-03-21 05:16] muqeetkhan20 commented on #11
@MuqeedA Thanks for the improvements, this looks great...
![image](https://user-images.githubusercontent.com/68276700/159208667-c36b0577-0582-4030-af00-c6be83128ec6.png)

[2022-03-21 05:18] muqeetkhan20 commented on #11
@MuqeedA you can move it to Done, we will review in prod and close the ticket.

[2022-03-21 05:54] MuqeedA commented on #11
Changes completed as requested , hence closing the ticket.

[2022-03-21 05:54] #11 closed

[2022-03-21 07:54] muqeetkhan20 opened #21 "[Bug]: Issue ids are not generating"
### Severity

Non-Blocker

### What happened?

This issue arise after a long time.
I remember we use to restart the VC git to fix this.

1) Issue Ids are not generating.
2) Scan history table not showing vulnerability numbers.

[2022-03-22 05:51] intesar opened #22 "[Enhancement]: Handling of 301 Moved Permanently Status code"
### Severity

Non-Blocker

### What happened?

301 Moved Permanently Status code should be marked as False positives

[2022-03-22 17:26] muqeetkhan20 commented on #20
#item 2 needs to be fixed, right?

[2022-03-22 17:54] #21 closed

[2022-03-22 17:56] #16 closed

[2022-03-22 17:59] muqeetkhan20 opened #23 "[Vulnerability]: NoSQL Injection throwing false negatives"
### Severity

Medium

### What happened?

Injections values are valid but resulting as False Negatives with status code 200

[2022-03-22 18:40] muqeetkhan20 opened #24 "[Bug]: Unable to register postman collection files through advance section"
### Severity

Non-Blocker

### What happened?

Unable to register the postman collection file through advance section, it throws an error "Invalid Open API Spec"

[2022-03-23 05:45] Mohammed-Luqman-Shareef opened #25 "[Feature]: API Monitoring"
### Please describe your problem?

Research and find a suitable API monitoring tool and do a POC.

### How important is this feature?

Very Important

### Describe the solution you'd like?

Write a brief solution report...

[2022-03-23 19:46] intesar opened #26 "[Bug]: Scanner not working on AWS Fargate"
### Severity

Blocker

### What happened?

Please deploy and certify the Apisec scanner on AWS Fargate.

[2022-03-24 03:53] mohdrashid1 commented on #26
Sure will do that need access of AWS Cloud

[2022-03-24 04:50] MuqeedA commented on #20
Both items are completed.

[2022-03-24 04:50] #20 closed

[2022-03-24 06:10] intesar commented on #26
@mohdrashid1 try to update by EOD today.

[2022-03-24 06:32] mohdrashid1 commented on #26
@intesar InshaAllah will completed it soon

[2022-03-24 07:32] syedimranapisecai commented on #26
@intesar bhai

@sarasheed  just checked deployment of scanner from prod (cloud.fxlabs.io) server to AWS cloud, it  got created and scanner is working perfectly.

Scanner got created on aws ec2 instance, but not on AWS fargate.

I believe we didn't use AWS fargate previously for scanner deployment?

Do we need to test scanner deployment with AWS Fargate?

[2022-03-24 07:48] sarasheed commented on #26
![image](https://user-images.githubusercontent.com/30456479/159867519-5d640cb8-ba13-49ec-aa3a-ba590ddcaf87.png)

[2022-03-24 15:08] fersy02 commented on #26
As discussed in today's meeting, we haven't certified scanner deployment on a serverless architecture such as AWS Fargate. Please certify and share the documentation steps.

[2022-03-25 05:14] syedimranapisecai commented on #26
Deployed a scanner in AWS using Far Gate, it's running successfully and playbooks are also getting scanned on that scanner.

Will prepare steps for it.

[2022-03-25 10:21] shahidabdul commented on #20
#item 2 fixed as per the requirement.

[2022-03-25 10:25] muqeetkhan20 opened #27 "[Bug]: Do not restrict the spaces (in special characters) for project name"
### Severity

Blocker

### What happened?

While registering or editing the project from any source like Register API, Register from Gateway, Free Pentest - please allow the spaces. For special characters input, let's give a right message in the dialog window.

[2022-03-25 11:01] muqeetkhan20 opened #28 "[Bug]: Payloads not updating for ABAC_3"
### Severity

Non-Blocker

### What happened?

Payloads are not updating for ABAC_3

[2022-03-27 12:47] mohdrashid1 commented on #26
Documentation Steps are Ready

[2022-03-28 06:03] Mohammed-Luqman-Shareef commented on #28
@muqeetkhan20 This issue was discussed couple of months back.  ABAC3 needs major enhancements to make it fully automatic.
ABAC3 enhancement is on Hold and the ticket was moved to backlogs.
As of now it is used rarely where users go and edit the payload whereever needed.

[2022-03-28 06:09] mohdrashid1 commented on #26
Documentation Steps are Ready

Please check and update us if any changes required

[Deploy AWS Fargate.pdf](https://github.com/apisec-inc/Support/files/8359723/Deploy.AWS.Fargate.pdf)

[2022-03-28 13:30] fersy02 opened #29 "[Bug]: RBAC Generates playbooks for inactive ROLE credentials"
### Severity

Non-Blocker

### What happened?

Deactivating an RBAC authentication helps us in excluding roles. We honor the request and include the active authentications upon running an RBAC scan with automap enabled. However, once the map is ready, we do regenerate playbooks. It includes inactive credentials that were initially not part of the scan.

The Role Mapping contains the allowed permis

[2022-03-28 13:39] fersy02 opened #30 "[Bug]: Avoid generating injection playbooks for empty payloads and payloads without string fields."
### Severity

Non-Blocker

### What happened?

Avoid generating an injection playbook that doesn't contain an injection in the request body due to an empty payload or payload without a string field. The current behavior creates noise and increases the number of error playbooks. It also gives the impression that onboarding requires enormous effort and time.

Currently, all injection categories foll

[2022-03-28 13:46] fersy02 opened #31 "[Feature]: Provision to add a Reviewed Tag and Comments into a vulnerability"
### Please describe your problem?

Most of our clients would like to review and add comments to a vulnerability in APIsec to save time and effort. This is especially required when we are dealing with a lot of projects or vulnerabilities in a project.

### How important is this feature?

Very Important

### Describe the solution you'd like?

When we click a vulnerability in the dashboard for more d

[2022-03-28 13:53] fersy02 opened #32 "[Bug]: Unsecured playbooks are missing against a few playbooks during project registration"
### Severity

Non-Blocker

### What happened?

Recently started observing this issue, upon project registration a few unsecured playbooks are failing to generate. When we regenerate the missing playbooks are added.

[2022-03-29 16:52] intesar opened #33 "[Support]: Document OAS Generation libraries"
### Severity

Blocker

### What happened?

As previously stated, you will offer information on how to use open source tools to assist developers in generating API specifications. Our bank mostly utilizes [ASP.NET](http://asp.net/) (Core & C#), Java, and a few Pythons. Kindly share with us the tool and instructions for generating the specification, so that once we have the specification file, you c

[2022-03-29 17:41] Abdullah-Akbar commented on #33
Yes, we are preparing a short article listing libraries and other resources which can help in generating OpenAPI specification documentation for existing API implementations.

[2022-03-30 01:37] Abdullah-Akbar commented on #33
@intesar V1 of the article is available [here](https://docs.google.com/document/d/1D4uF_TZnqkTnWoNSGMYW8wTGJHAe2lw847Zz1tQ39gk/). Hope it suffices for our requirement.

[2022-03-30 05:18] Abedeen1 commented on #31
@fersy02 ,

Tag, Comments are as per profile / simply on playbook?

[2022-03-30 05:19] Abedeen1 commented on #31
@fersy02 ,

Tag, Comments are as per profile / simply on playbook?

[2022-03-30 05:41] Abedeen1 commented on #31
@Mohammed-Luqman-Shareef

Tag, Comments are as per profile / simply on playbook?

[2022-03-30 06:38] Abedeen1 commented on #27
@muqeetkhan20

Could you please review the validation @ https://regexr.com/6ig0k

[2022-03-31 06:36] muqeetkhan20 opened #34 "[Bug]: APIsec Summary Report"
### Severity

Non-Blocker

### What happened?

- [x] OWASP coverage table is not updating the values.
- [x] Unable to download pdf, if downloaded the check mark icon is missing when we click the download pdf button.
- [x] Change criticality to severity.
- [x] Pdf report is showing N, it should be N/A

[2022-03-31 10:23] Abdullah-Akbar commented on #32
@muqeetkhan20 I have tested this 3 times in K8s env. It is working fine with the fix. Pls verify.

[2022-03-31 19:07] Abdullah-Akbar opened #35 "[Feature]: API to get vulnerabilities logged by a particular scan"
### Please describe your problem?

We are triggering scans using the CI-CD integration. We need an API to get the new vulnerabilities logged by a particular scan. We are particularly interested in the severity level of the vulnerabilities logged by the scan.

### How important is this feature?

Very Important

### Describe the solution you'd like?

An API to help us detect vulnerabilities logged a

[2022-03-31 19:45] fersy02 commented on #35
Additional information requested by the client:
Return a list of issues in a json array including the following parameters:
- Endpoint path
- Security category name
- Playbook name
- Severity of the issue
- CVSS Score

[2022-04-01 01:49] Abdullah-Akbar commented on #35
@muqeetkhan20  API implemented and available in dev environment.
Sample usage: api/v1/projects/4028811572fba5720172fba96573000c/run/4028811572febb8a0172fec8daa801ab/auto-suggestions/active?page=0&pageSize=10

[2022-04-02 01:06] #33 closed

[2022-04-02 01:56] intesar opened #37 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...test

[2022-04-02 01:59] #37 closed

[2022-04-02 01:59] intesar opened #38 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-02 02:02] #38 closed

[2022-04-02 02:02] intesar opened #39 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-02 02:03] #39 closed

[2022-04-02 02:04] intesar opened #40 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-02 02:05] #40 closed

[2022-04-02 02:06] intesar opened #41 "[Bug]: test"
### Severity

P2

### What happened?

Write a brief report...
playbook

[2022-04-02 02:06] intesar opened #42 "[Bug]:"
### Severity

P2

### What happened?

Write a brief report...
scanner

[2022-04-02 02:07] intesar opened #43 "[Bug]:"
### Severity

P2

### What happened?

Write a brief report... apigee

[2022-04-02 02:07] intesar opened #44 "[Bug]:"
### Severity

P2

### What happened?

Write a brief report... false positive

[2022-04-02 02:07] #41 closed

[2022-04-02 02:08] #42 closed

[2022-04-02 02:08] #43 closed

[2022-04-02 02:08] #44 closed

[2022-04-02 02:10] intesar opened #45 "[Bug]: false positive"
### Severity

P2

### What happened?

Write a brief report...

[2022-04-02 02:12] #45 closed

[2022-04-02 02:13] intesar opened #46 "[Bug]: playbook issue"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-02 02:13] #46 closed

[2022-04-03 01:23] intesar opened #47 "[Bug]: test2"
### Severity

P2

### What happened?

Write a brief report...
playbook issue

[2022-04-03 01:44] #47 closed

[2022-04-04 07:25] Abedeen1 commented on #31
@fersy02 ,
Code is ready,
![image](https://user-images.githubusercontent.com/87793504/161493389-d0033c52-2b94-4a8d-8c0b-59f3e70b38ec.png)

After click on review
![image](https://user-images.githubusercontent.com/87793504/161493483-175c7d8d-6669-4f67-ab51-30c3dfeb7fda.png)

After click on ok
![image](https://user-images.githubusercontent.com/87793504/161493886-7c2b39bf-4d3a-4edc-a432-52d3aa11989c.p

[2022-04-04 07:25] Abedeen1 commented on #31
@Mohammed-Luqman-Shareef ,

Can we move the code to Repository.

[2022-04-04 09:54] muqeetkhan20 commented on #35
@Abdullah-Akbar It's throwing white label error...
![image](https://user-images.githubusercontent.com/68276700/161520062-26aa6807-b348-49a2-b51f-531cfb69c0c0.png)

[2022-04-04 10:11] muqeetkhan20 commented on #32
yes, its fixed now

[2022-04-04 10:11] #32 closed

[2022-04-04 19:23] intesar opened #48 "[Bug]: Scanner not working in a private VPC"
### Severity

Medium

### What happened?

Write a brief report...

scanner issue.

[2022-04-04 19:43] #48 closed

[2022-04-04 19:45] intesar commented on #26
@mohdrashid1 nice write-up. Please convert this into a knowledge post.

[2022-04-04 20:13] intesar opened #49 "[Bug]: Platform UI improvements"
### Severity

Blocker

### What happened?

- [x] Replace "Help & Support" footer link with https://github.com/apisec-inc/Support/issues
- [x] Project Registration button "Register & Activate Coverage" change to "Register" for simplicity and consistency
- [x] Advanced Project Registration button "Validate & Register" change to "Register" for simplicity and consistency
- [x] Rename "Open Vulnerabili

[2022-04-04 20:26] intesar opened #50 "[Feature]: Replace tiles design with a dropdown"
### Please describe your problem?

Tile design is very busy. We need to simplify it to look easier.

### How important is this feature?

Very Important

### Describe the solution you'd like?

- [ ] Project/Integration/Issue-Tracker tiles design with a dropdown list.
- [ ] Project/Integration/CI&CID tiles design with a dropdown list.
- [ ] Scanner/Private Scanners, move "Docker/Kubernetes" tile to

[2022-04-04 20:49] intesar opened #51 "[Feature]: Integration improvements"
### Please describe your problem?

These features need simplifications for them to be adopted more aggressively.

### How important is this feature?

Very Important

### Describe the solution you'd like?

- [ ] Change the text Vault/New/Report Storage "Make this as default storage for reports in all the projects within this tenant." to "Highly Recommended: All project reports (Developer, Penetrati

[2022-04-04 20:52] intesar opened #52 "[Feature]: Implement list view for the project tiles"
### Please describe your problem?

Similar to categories dual view

### How important is this feature?

Nice to Have

### Describe the solution you'd like?

Implement an additional view i.e. list/tile

[2022-04-04 21:08] intesar opened #53 "[Bug]: Rate-limit assertions are invalid"
### Severity

Blocker

### What happened?

Checkout this

This should not have been a failed result:
06:54:39 [E] [ASGRAuthenticated] : Assertion [@ResponseHeaders.X-RateLimit-Limit != @Empty AND @ResponseHeaders.X-RateLimit-Limit != null] resolved-to [null != @Empty AND null != null] result [Failed]

[2022-04-04 21:11] intesar opened #54 "[Bug]: Project/Open Vulnerabilities page no is retained across other projects"
### Severity

Medium

### What happened?

Go to page 2 on project-1. Then go to project-2, the pagination shows page 2. If project-2 doesn't have page 2 then the view show zero items

[2022-04-04 22:44] intesar opened #55 "[Bug]: Use proper profile icons"
### Severity

Blocker

### What happened?

Please use proper profile icons for GitHub.

Go here and change your profile picture.
https://github.com/settings/profile

e.g. Feel free to use image-based initials like MK (Muqeet Khan), similar to MS Teams.

[2022-04-04 23:05] mohdrashid1 commented on #26
@intesar sure i will do it

[2022-04-05 00:13] Abdullah-Akbar commented on #55
https://ui-avatars.com/

[2022-04-05 00:43] Abdullah-Akbar commented on #49
![image](https://user-images.githubusercontent.com/89911730/161656132-fb3c9a43-7a1d-4081-a8d4-5395049d6d3d.png)

[2022-04-05 07:36] Abdullah-Akbar commented on #33
Blog published: [Generating OpenAPI Specification (OAS) documentation for your REST APIs](https://www.apisec.ai/blog/generating-openapi-specification-oas-documentation-for-your-rest-apis)

[2022-04-05 07:56] muqeetkhan20 commented on #53
@intesar this bug was raised by @MaimoonaFatima a month ago on our QA call, we logged it in our backlog and unfortunately we didn't get chance to discuss with engineering due to k8s on-prem priorities - fyi

[2022-04-05 08:56] Mohammed-Luqman-Shareef commented on #53
Why  should **null != null**  pass ?
[null != @empty AND null != null] result [Failed]

[2022-04-05 10:14] muqeetkhan20 commented on #28
Moved this ticket to backlog....

[2022-04-05 10:14] #28 closed

[2022-04-05 11:18] muqeetkhan20 commented on #30
@fersy02 verified in dev. We have few put method playbooks with string fields in the payloads but with NO injection values. Don't you wish to avoid these playbooks? few examples over here...

ApiV1PrimaryAccountWithdrawAmountIdPutBodyParamLinuxCommandInjection
ApiV1PrimaryAccountDepositAmountIdPutBodyParamLinuxCommandInjection
ApiV1PrimaryAccountPrimaryAccountPutBodyParamLinuxCommandInjection
ApiV

[2022-04-05 11:42] muqeetkhan20 commented on #34
@MuqeedA tested in dev. all the above issues are fixed.
The another issue is with the ABAC generated tests count in incorrect. please verify.

[2022-04-05 12:59] Abedeen1 commented on #31
Confirmation dialog :
![image](https://user-images.githubusercontent.com/87793504/161759106-98376f10-c2ef-4717-8698-2701ac596438.png)

[2022-04-06 00:16] intesar commented on #53
The assertion should be. It should fail in case of missing X-RateLimit-Limit header.
@ResponseHeaders.X-RateLimit-Limit != @Empty OR @ResponseHeaders.X-RateLimit-Limit != null

We should just not look for this header instead expand the lookup for even more names like

Commonly used header field names are:

X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset;
X-Rate-Limit-Limit, X-Rate-Limi

[2022-04-06 00:20] intesar commented on #49
I don't think we need to keep square brackets around the month name i.e. [March] should just "March"

[2022-04-06 00:32] intesar opened #57 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-06 00:38] #57 closed

[2022-04-06 00:38] intesar opened #58 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-06 00:40] #58 closed

[2022-04-06 00:40] intesar opened #59 "[Bug]: test"
### Severity

Blocker

### What happened?

Write a brief report...

[2022-04-06 00:59] Abdullah-Akbar commented on #49
![image](https://user-images.githubusercontent.com/89911730/161874836-3ad415da-5d8d-491e-8a35-3dd10b1b6b14.png)

[2022-04-06 06:28] muqeetkhan20 commented on #54
tested in dev evn. looks good

[2022-04-06 06:30] muqeetkhan20 commented on #35
@Abdullah-Akbar tested in dev after the path spelling correction. all good

[2022-04-06 07:06] MuqeedA commented on #18
Proper message added for 403 error code.

[2022-04-06 07:35] fersy02 opened #60 "[Feature]: SSO with Azure AD"
### Please describe your problem?

Currently, APIsec support SSO with OKTA. A few clients have approached us with the requirement to integrate SSO with Azure AD.
Also, the clients have requested to offer platform-agnostic integration. Please consider supporting the SAML 2.0 protocol as it is widely used by several organizations.

### How important is this feature?

Very Important

### Describe the

[2022-04-06 07:44] intesar commented on #60
@abdul-hai-apisec let's start looking into SAML integration in the next few weeks.

[2022-04-06 09:53] muqeetkhan20 commented on #26
AWS fargate deployed and tested in dev environment.
scanned all the categories in one go.
performance wise it's good.

[2022-04-06 22:05] intesar commented on #49
The releases link looks very generic. Is it possible to make the month a link?

[2022-04-07 01:58] robertsec opened #61 "[Feature]: Calculate the Amount of Time Saved using APIsec"
### Please describe your problem?

One of the most important metrics for evaluating and reporting on the success of a tool is how much time it has saved the security and/or dev teams. In fact, a second widget to show the amount of FTE dollars saved would go over really well to, especially on reports to the executive board. Boards don't understand bug bounty dollars (although the CISO will), so the

[2022-04-07 07:14] zafar0506 opened #62 "[Bug]: Unable to generate playbooks and endpoints"
### Severity

Blocker

### What happened?

Unable to generate playbooks & endpoints for a spec file (Landmark tenant).
Please find the attached spec file for reference.
[panel-conveyancing-transaction-request-service.zip](https://github.com/apisec-inc/Support/files/8440409/panel-conveyancing-transaction-request-service.zip)

[2022-04-07 07:15] abdul-hai-apisec commented on #60
@intesar Sure will do that.

[2022-04-07 07:38] Abdullah-Akbar commented on #62
The spec seems invalid.  We can inspect errors using https://editor.swagger.io/

[2022-04-07 07:41] syedimranapisecai commented on #62
The spec is in yaml format

[2022-04-07 07:48] zafar0506 commented on #62
Please find rectified spec file. I have also tested it on swagger editor but no issues were found.
I assume that the platform should inform the user about invalid specs.
[panel-conveyancing-transaction-request-service.zip](https://github.com/apisec-inc/Support/files/8440724/panel-conveyancing-transaction-request-service.zip)

[2022-04-07 07:53] Mohammed-Luqman-Shareef commented on #62
There is a prob in the spec file.  At lines 568, 569, 570, 571 there is no space after :
see the SS below.
You need to add one space after :
![image](https://user-images.githubusercontent.com/87166065/162148782-e085a722-6d65-4cd8-96b1-d62ee452b324.png)

But right now it seems the register with file upload is not working.  For you you can fix the spec and upload it to some publica location like git

[2022-04-07 07:58] syedimranapisecai commented on #62
Control-plane exception logs for project registered with this specs.

[code]

[2022-04-07 08:02] Mohammed-Luqman-Shareef commented on #62
Engineering is looking into this issue.

The work around for now is to upload the spec somewhere and use its url to register it.

[2022-04-07 08:32] zafar0506 commented on #62
@Mohammed-Luqman-Shareef :  will try to upload it to a public repo and then register it.
@muqeetkhan20 :  tried with the converted JSON format,  still for me playbooks are not generated.

[2022-04-07 09:15] zafar0506 commented on #62
@Abdullah-Akbar  : As discussed and demonstrated, Please find attached specs for further investigation. Registration is working but playbook generation is not working. No proper messaging is available.
[panel-conveyancing-transaction-request-service.zip](https://github.com/apisec-inc/Support/files/8441435/panel-conveyancing-transaction-request-service.zip)

[2022-04-07 19:07] Abdullah-Akbar commented on #49
The mailer is currently plain text by design. For hyperlinks, we will need to change its entire format to HTML.

[2022-04-08 06:26] Mohammed-Luqman-Shareef commented on #34
@AtifaFahmeen, the incorrect playbook count in the reports is because it is not counting the Init and Cleanup playbooks (tyep ABSTRACT).  Can you please update the queries wherever needed?

[2022-04-08 06:56] Mohammed-Luqman-Shareef commented on #62
@zafar0506 ,   The Spec for "panel-conveyancing...." has some issues in it.  There are some invalid references.
For Example at line 394
 "$ref": "../../apihub--apihub--published-lgs/1.2.0/lgsAddress.json#/components/schemas/lgsAddressFixedLine"
It refers to some json which doesnt exist.  If you remove all such references it will work,

[2022-04-08 06:59] Mohammed-Luqman-Shareef commented on #30
These playbooks don't have injections and are not generated.
@muqeetkhan20 Please delete and create playbooks in that category and verify.

[2022-04-08 09:22] muqeetkhan20 commented on #30
@Mohammed-Luqman-Shareef tested with the new project, all looks good...thanks

[2022-04-08 10:38] muqeetkhan20 commented on #31
@Abedeen1 experiencing a bug "resource key already exist". please look into it.

[2022-04-08 10:57] Abedeen1 commented on #31
@muqeetkhan20 , Could you please share steps to reproduce the error.

[2022-04-08 14:38] fersy02 opened #63 "[Feature]: DELETE Endpoints in the RBAC Scan to use Random UUIDs instead of variables"
### Please describe your problem?

Recently, we experienced an incident that deleted pre-existing customer records during the POV.
When running a Role-based Access Control (RBAC) scan, the API uses test data from the variables. APIsec generates a numeric id: 12345. if this is updated to a pre-existing id then it might be deleted from the database as we execute RBAC with multiple roles.

### How im

[2022-04-08 16:48] wesleymeier commented on #60
Interested customers are Axiata and Aveva

[2022-04-08 19:37] intesar commented on #63
@Mohammed-Luqman-Shareef Skip variables like {{@Var.id}} for DELETE operations for all categories except ABAC.

[2022-04-09 11:20] Abedeen1 commented on #31
Fixed, Please varify.

[2022-04-11 11:30] muqeetkhan20 commented on #23
@Mohammed-Luqman-Shareef the false negative is arising due to 400 bad request in both dev and prod.
![image](https://user-images.githubusercontent.com/68276700/162730732-dcdaafb1-69f7-4852-b2b1-8acdd61dc7f4.png)

[2022-04-11 20:01] intesar commented on #62
@zafar0506 if the issue is fixed. Please close the ticket.

[2022-04-11 20:21] intesar commented on #52
@muqeetkhan20 @shamiulla-apisec @shahidabdul @MuqeedA
I just reviewed the project's list view. The design looks very outdated.
We have tables implemented all over the product. I guess the best implementation is on Private Scanners, it supports hover over clicking, etc.

If everyone excepts the private scanner table is our best looking. Can we implement all tables accordingly?

The playbook table n

[2022-04-11 20:42] #62 closed

[2022-04-11 20:43] zafar0506 commented on #62
With application refresh, the issue seems to be fixed. Hence closing the issue.

[2022-04-12 07:12] Mohammed-Luqman-Shareef commented on #53
Added feature to evaluate the assertion with wild char '*' for all the header names.
Now you can have an assertion as
@ResponseHeaders.keyword* == value
@ResponseHeaders.*keyword == value
@ResponseHeaders.*keyword* == value

The Evaluation if finds the Header with matching name returns the values all such headers within square brackets [ ].
The change will be available in the next release.
After t

[2022-04-12 09:13] muqeetkhan20 commented on #31
@Abedeen1 can we sync the comments with the issue trackers? We can start with Jira at least.

[2022-04-12 09:44] Mohammed-Luqman-Shareef commented on #23
Data fixed.

[2022-04-12 09:53] Abedeen1 commented on #31
Can we sync now

On Tue, Apr 12, 2022 at 2:45 PM muqeetkhan20 ***@***.***>
wrote:

[2022-04-12 09:55] Abdullah-Akbar commented on #26
https://apisec-inc.github.io/releases/apisec-AWS-Fargate/

[2022-04-12 10:00] #26 closed

[2022-04-12 10:00] sarasheed commented on #26
Done.

[2022-04-12 10:17] #18 closed

[2022-04-12 10:31] #24 closed

[2022-04-12 10:31] #27 closed

[2022-04-12 10:32] #30 closed

[2022-04-12 10:34] muqeetkhan20 commented on #34
We have created a new ticket for the count mismatch...Hence, closing this ticket.
https://github.com/apisec-inc/Engineering/issues/204

[2022-04-12 10:34] #34 closed

[2022-04-12 10:45] muqeetkhan20 commented on #49
Verified all the UI improvements, the backend is pending...

[2022-04-12 10:49] muqeetkhan20 commented on #50
@shahidabdul please fill the empty tile space.
![image](https://user-images.githubusercontent.com/68276700/162943795-ff34b230-4e9e-4869-95dd-58479eee6221.png)

Also, the scanner has the empty space at the right, let's align it or add one more tile.
![image](https://user-images.githubusercontent.com/68276700/162943902-0c95e26f-16eb-4f25-a57f-527b4bb8d5fc.png)

[2022-04-12 10:56] #54 closed

[2022-04-13 10:19] muqeetkhan20 commented on #63
tested in dev env, looks good

[2022-04-13 10:22] muqeetkhan20 commented on #22
@intesar @AtifaFahmeen we are unable to test this scenario as NB doesn't generate 301 status...

[2022-04-13 10:25] #35 closed

[2022-04-13 10:26] muqeetkhan20 commented on #23
@Mohammed-Luqman-Shareef we are still reproducing 400 status code false negatives in both dev and prod.

[2022-04-13 10:54] shamiulla-apisec commented on #52
Playbooks table look changed and links have been removed.
![image](https://user-images.githubusercontent.com/87168081/163165527-122ce86c-c72f-4dec-b18e-e22f40a14ef3.png)

[2022-04-14 05:58] fersy02 commented on #29
Any updates on this ticket?

[2022-04-14 07:03] muqeetkhan20 commented on #29
Already in prod, closing the ticket.

[2022-04-14 07:29] #22 closed

[2022-04-14 10:32] muqeetkhan20 commented on #50
@shahidabdul as discussed on the call, please remove the beta tags from CI CD integrations

[2022-04-14 11:15] muqeetkhan20 commented on #23
discussed with @Mohammed-Luqman-Shareef , it's  a data issue - closing the ticket

[2022-04-14 11:15] #23 closed

[2022-04-19 00:39] muqeetkhan20 commented on #53
@Mohammed-Luqman-Shareef this is giving a failed result again...no new values found in ResponseHeaders

[2022-04-19 07:04] Abdullah-Akbar commented on #49
backend changes available in dev env.

[2022-04-19 10:13] muqeetkhan20 commented on #29
@fersy02 we have inactivated one of the role (ROLE_PM) and we are not getting that role in playbook execution.
![image](https://user-images.githubusercontent.com/68276700/163981865-c749a3f1-399b-4124-ab06-a66ce1bef5f6.png)

Only two roles after scanning.
![image](https://user-images.githubusercontent.com/68276700/163982071-11643b43-deff-49bc-97fb-43549d0cabc8.png)

[2022-04-19 14:52] fersy02 opened #64 "[Bug]: Open Vulnerability Graph on the Dashboard doesn't load automaticatically"
### Severity

Medium

### What happened?

On the dashboard, we have an Open Vulnerabilities graph that fails to load automatically and requires refreshing the page.
![image](https://user-images.githubusercontent.com/47815523/164032247-484b7c6f-a081-4619-a708-f87ec2e386ce.png)

After Refreshing the page:
![image](https://user-images.githubusercontent.com/47815523/164032382-aec62216-ec17-4105-838a-c

[2022-04-19 22:20] hAPI-hacker opened #65 "[Feature]: Please increase VAmPI token lifetime"
### Please describe your problem?

I believe the current token timeout is set too low. Since we plan on using VAmPI for demos/workshops, it would help out if the token lifetime could be set to something much longer.

### How important is this feature?

Very Important

### Describe the solution you'd like?

Please increase the token life to a day. Instructions for customizing token timeout can be f

[2022-04-20 00:07] muqeetkhan20 commented on #64
This bug is not reproducible. I tried multiple times...

![image](https://user-images.githubusercontent.com/68276700/164120924-6bbaa413-092a-4356-8180-97333e85530d.png)

[2022-04-20 00:35] muqeetkhan20 commented on #13
@AkaramAli we have tested this in dev and looks good.
Could you please let us know the scanner (in which the script is installed) to test in prod?

[2022-04-20 05:56] Mohammed-Luqman-Shareef commented on #53
You need an API which returns these headers to test this one.
The change here is now we are supporting '*' wild card for partial header name search and updated the assertions in these two categories to check for any header starting with X-RateLimit.

[2022-04-20 06:02] MuqeedA commented on #64
@fersy02 , Can you please provide access to this tenant. Thanks.

[2022-04-20 06:56] fersy02 commented on #29
Please attach the screenshot of the playbook to check the value in the Auth section.

[2022-04-20 07:00] fersy02 commented on #64
I just tried in the new incognito browser and observed the following in the Alkami tenant:
![image](https://user-images.githubusercontent.com/47815523/164169436-8f057f5a-f998-4a99-a670-c875ce764c57.png)

[2022-04-20 07:01] fersy02 commented on #64
After refreshing the browser:
![image](https://user-images.githubusercontent.com/47815523/164169648-9966ca0f-3a54-4351-bb3b-0b579d513182.png)

[2022-04-20 07:05] fersy02 commented on #64
Added both muqeet@apisec.ai and muqeed@apisec.ai.

[2022-04-20 07:14] muqeetkhan20 commented on #53
@Mohammed-Luqman-Shareef Would you be able to provide such API for testing purpose?

[2022-04-20 08:30] muqeetkhan20 commented on #29
![image](https://user-images.githubusercontent.com/68276700/164185867-b78f045f-d922-403c-ac71-8c53d66535e8.png)

[2022-04-20 08:36] muqeetkhan20 commented on #64
I have verified in Alkami tenant, worked fine for me...the below results without any refresh,
![image](https://user-images.githubusercontent.com/68276700/164186893-aa7a35dd-b28d-4e2d-8e7b-1f71a76418a3.png)

[2022-04-20 08:37] fersy02 commented on #29
As you see the Auth is empty. You need to regenerate playbooks and try this scenario.

[2022-04-20 08:50] fersy02 commented on #64
Can you please try this in the Yourbind2 tenant?
![image](https://user-images.githubusercontent.com/47815523/164189819-07139d09-c8d4-4f3d-8b5c-623b11a663e0.png)

[2022-04-20 09:00] muqeetkhan20 commented on #29
okay, this scenario is reproducible.
Spoke to @Mohammed-Luqman-Shareef - It should be available in next prod refresh.

[2022-04-20 09:06] muqeetkhan20 commented on #52
@shamiulla-apisec
The below issues are for free account.
- [ ] On dashboard list view is overlapping the project toggle button and also same when we minimize the window.
- [ ] Also the tiles matter like owner name and date are getting overlapped when we minimize the window.

[2022-04-20 09:12] shamiulla-apisec commented on #52
@muqeetkhan20 Please share screenshots for reference.

[2022-04-20 09:43] muqeetkhan20 commented on #52
@shamiulla-apisec The sorting you applied on the project list table is not appropriate.

[2022-04-20 10:16] muqeetkhan20 commented on #64
loaded the page without any refresh..

![image](https://user-images.githubusercontent.com/68276700/164206444-0114a696-ba5d-412e-92e2-43e36c5896dd.png)

[2022-04-20 10:18] muqeetkhan20 commented on #63
tested in prod, looks good

[2022-04-20 10:18] #63 closed

[2022-04-20 10:22] muqeetkhan20 commented on #49
tested in prod, all looks good

[2022-04-20 10:22] #49 closed

[2022-04-20 10:24] muqeetkhan20 commented on #31
@Mohammed-Luqman-Shareef I have discussed this with @Abedeen1 on bi-directional.
We have the comment field in all the issue trackers like Jira, Github etc. If we can sync our comments with the issue tracker tools that would be great.

@Abedeen1 do you have any update on this?

[2022-04-20 10:38] Abdullah-Akbar commented on #31
@muqeetkhan20 @Abedeen1
Our issue tracker integration is uni-directional by design.  Changes done to tickets in issue trackers will not be reflected in APIsec.

[2022-04-20 11:28] muqeetkhan20 commented on #31
@Abdullah-Akbar agreed, can we put efforts to change it to bi-directional? or skip for now?

[2022-04-20 11:30] muqeetkhan20 commented on #13
tested in prod, it worked...

[2022-04-20 11:30] #13 closed

[2022-04-20 11:36] jaleelsyed commented on #31
Let's not over engineer on this feature, we have couple of other issue trackers as well which might not have commenting feature, let's try to maintain the uniformity across issue trackers.
And address the customer reported issues.

[2022-04-20 12:59] muqeetkhan20 commented on #31
Customers are using only Jira as of now. Let's discuss this on our team call.

[2022-04-20 14:03] Abdullah-Akbar commented on #31
not a valid requirement. it should be uni-directional only.

[2022-04-20 17:35] muqeetkhan20 commented on #31
@Abdullah-Akbar thanks for the clarification. Appreciate it....

Will close the ticket....

[2022-04-20 17:37] #31 closed

[2022-04-21 05:56] shamiulla-apisec commented on #52
@muqeetkhan20 Backend needs to be done then we can apply the backend sorting.

[2022-04-21 06:16] fersy02 commented on #64
The issue seems intermittent for a few vulnerabilities, and if the number of vulnerabilities is more, the pie chart doesn't work even after refresh.

[2022-04-21 06:47] fersy02 opened #66 "[Bug]: Incomplete Command displayed on the CI/CD Jenkins page"
### Severity

Medium

### What happened?

Since we changed the UI, the Jenkins command has changed and missing some critical details:
![image](https://user-images.githubusercontent.com/47815523/164390471-d297c464-7a45-4a45-a067-4b1b7d2337d0.png)

Expected:
wget https://raw.githubusercontent.com/apisec-inc/apisec-scripts/master/apisec_job_invoke_script.sh?token=AVOLEQ4FVVPJJ3DPAME4JELBS56SI -O apis

[2022-04-21 09:57] muqeetkhan20 commented on #52
Ok, please follow up with backend team.

[2022-04-21 10:07] shahidabdul commented on #66
this issue fixed

[2022-04-21 19:40] #65 closed

[2022-04-21 19:41] sarasheed commented on #65
Increased token validity to 86400 sec (24hr).

[2022-04-25 07:44] shamiulla-apisec commented on #52
When no projects are available or newly registered then will show the table as below:
![image](https://user-images.githubusercontent.com/87168081/165043197-92b4d29e-7a4d-4664-8129-6b8661c216ab.png)

[2022-04-25 09:10] shamiulla-apisec commented on #52
@muqeetkhan20 & @intesar while navigating from one page to other i came across the tables and i observed that when no data is available then the table looks awkward so improved the messaging as below when the data is empty.
![image](https://user-images.githubusercontent.com/87168081/165058099-a2430934-9a19-4613-9219-de303954ca7a.png)

[2022-04-29 17:22] fersy02 commented on #29
Please prioritize it as the client is pushing us to get this working at the earliest.

[2022-04-29 18:38] Mohammed-Luqman-Shareef commented on #29
It is already in Prod.
Once you activate/deactivate an RBAC regenerate the playbooks from the categories page by clicking "Save and rewrite playbooks"

[2022-05-02 08:03] fersy02 commented on #29
Both the use cases are working as desired. Informed Client. QA may close this ticket.

[2022-05-10 14:15] fersy02 opened #67 "[Bug]: Download Project/All Projects Vulnerabilities Fail with an Error"
### Severity

Blocker

### What happened?

A customer has reported that they are not able to download the vulnerabilities list in the XLSX format from the Dashboard. Tried this functionality in the APIsec tenant with the NetBanking project and experienced the same error:

![image](https://user-images.githubusercontent.com/47815523/167649565-103bb046-be9c-40de-a708-c00ca0d06fba.png)

[2022-05-10 16:25] muqeetkhan20 opened #68 "[Bug]: UI: Unable to register the project without API"
### Severity

Major

### What happened?

![image](https://user-images.githubusercontent.com/68276700/167676856-f1d4e0ca-2401-4d49-bb73-591728c77b3d.png)

[2022-05-10 16:28] muqeetkhan20 commented on #67
QA team have identified this bug at the time of dev sanity. Reported to @apisec-inc/engineering and it should be fixed at the earliest.

[2022-05-10 17:11] Mohammed-Luqman-Shareef commented on #68
You can't register an API without providing the spec.
@MuqeedA Disable the register button if neither the spec url nor the file is provided.  Or give a proper error msg.

[2022-05-10 17:45] muqeetkhan20 commented on #68
@Mohammed-Luqman-Shareef this feature was in place, we were allowing the customers to register the project without API. Did we get a request to restrict the registration without API? I don't even see the OAS editor in details page. Do we have a ticket for this?

[2022-05-11 06:01] shahidabdul commented on #67
getting null data from the backend
https://developer.apisec.ai/api/v1/projects/8a7481f97f5fff3e017f638c11040a46/auto-suggestions-download/active?envId=8a7481f97f5fff3e017f638c11070a48&severity=all&category=All

[2022-05-11 09:02] Mohammed-Luqman-Shareef commented on #68
If it is intended feature and we want customers to use it then let's fix the bug.
@mmuqtaar can you add and empty/null check before spec validation.

[2022-05-11 10:35] muqeetkhan20 commented on #68
yes, it's intended feature.

[2022-05-11 19:19] muqeetkhan20 opened #69 "[Bug]: Footer links not working (404 error)"
### Severity

Medium

### What happened?

Training videos link not working (https://www.apisec.ai/training-videos)
Documentation link is not working (https://www.apisec.ai/documentation)

**Acceptance Criteria:**

Please point to the new documentation link: https://apisec-inc.github.io/documentation/

[2022-05-11 20:53] muqeetkhan20 opened #70 "[Bug]: Other Categories count is incorrect in Summary Report"
### Severity

Medium

### What happened?

Other Categories is showing count as 1 in summary report.
For all the projects the count is showing as 1.

![image](https://user-images.githubusercontent.com/68276700/167945638-4df196a9-ddb1-4b79-bfad-ea3c2501c342.png)

[2022-05-12 06:00] fersy02 opened #71 "[Bug]: Playbook generation failing due to payload size"
### Severity

Blocker

### What happened?

Payload size restricts generating playbooks in all categories. If the payload size is too large, a project is registered, and only the Unsecured category playbooks are generated initially. When a user tries to create playbooks in multiple categories, the user is informed to select fewer categories.

![image](https://user-images.githubusercontent.com/47815

[2022-05-12 18:30] muqeetkhan20 opened #72 "[Bug]: Unable to create new playbook if you edit category name, throws an error"
### Severity

Medium

### What happened?

- [x] While creating or cloning a new playbook, if you edit category name to some new name (Custom1), it's throwing an error.
- [x] The new playbook display name should be "custom", but it has a different name HTTP header.

[2022-05-13 06:29] #66 closed

[2022-05-13 06:30] muqeetkhan20 commented on #53
@Mohammed-Luqman-Shareef we are unable to test this scenario through NB app. Should we close this ticket or it's possible to provide any such API?

[2022-05-13 06:32] #29 closed

[2022-05-13 06:54] amer-apisec commented on #69
1.Documentation link is still throwing 404 error.
2.In Training videos link Media and Webinars post throwing 404 error.

[2022-05-13 08:50] ImranShaik065 commented on #69
@amer-apisec webinars post is not considered as footer link.

[2022-05-13 13:00] fersy02 opened #73 "[Bug]: Unable to register an OAS via Apigee Gateway"
### Severity

Blocker

### What happened?

We are able to fetch the list of OpenAPI Specification from the Apigee edge gateway. After selecting and registering the API definition we get a confirmation but it fails to register the specification and there is no information in the Activities to debug.

![image](https://user-images.githubusercontent.com/47815523/168288469-ba44872f-2440-44ea-82af-8e9f9

[2022-05-13 14:18] amer-apisec commented on #69
@ImranShaik065 if any person wants to look into webinars he would face 404 error.

[2022-05-14 03:32] Mohammed-Luqman-Shareef commented on #53
Lets close this ticket now.

[2022-05-16 05:13] abdul-hai-apisec commented on #73
The spec is not having any issues...project name is containing the special character '-' due to which project creation failed.

I was able to create the project with that spec content manually with a different name.

[2022-05-16 06:00] Afra-APIsec opened #74 "[Bug]: Authentication Exploit, Empty and SQL playbooks are not getting generated"
### Severity

Blocker

### What happened?

Experiencing the issue since last week.
Reproducible in all tenants and with Net banking API as well.

[2022-05-16 06:01] fersy02 commented on #74
Reproducible in existing and new projects

[2022-05-16 06:07] fersy02 commented on #73
Can we accept special characters in the project name?
Secondly, we need informative error messages and logs on the activities page to debug such issues in the future.

[2022-05-16 06:16] Mohammed-Luqman-Shareef commented on #74
We changed these categories to create a single playbook each.

Ref:  https://github.com/apisec-inc/IM-5/issues/13
Reduce Authentication category to single endpoint/Playbook

[2022-05-16 06:16] Abdullah-Akbar commented on #73
reg. special chars in the project name, let me check the impact.
The error messaging is being improved.

[2022-05-17 05:37] #53 closed

[2022-05-17 08:48] Mohammed-Luqman-Shareef commented on #71
@fersy02 can you pls share the spec which fails for single category due to payload size.

[2022-05-17 08:58] muqeetkhan20 commented on #74
@Afra-APIsec we have published this change in our last release. (see the attached screenshot). Closing the ticket.
![image](https://user-images.githubusercontent.com/68276700/168772397-d3ee9f38-929d-494c-9953-bcea0dbd7e87.png)

[2022-05-17 08:58] #74 closed

[2022-05-17 09:01] muqeetkhan20 commented on #73
@Abdullah-Akbar did we allow special characters in the project name?

[2022-05-17 09:09] Abdullah-Akbar commented on #73
No we did not. APIsec does not allow special characters in the project name. For API gateway imports however, special chars in the project name will be replaced with a single space.

[2022-05-17 10:48] amer-apisec commented on #69
verified in dev env working fine.

[2022-05-17 10:58] fersy02 commented on #71
@Mohammed-Luqman-Shareef, I had a call and shared the OAS on May 12. I will send an email right away.

[2022-05-17 11:43] MaimoonaFatima commented on #73
The messaging is improved now.
![image](https://user-images.githubusercontent.com/72252407/168802233-40ecc3fd-44bb-480d-bd39-e588947a488f.png)

[2022-05-17 12:09] Abdullah-Akbar commented on #73
In case the spec name contains special characters, they will be replaced automatically with empty space character. [@MuqeedA is working on this]

[2022-05-17 14:45] Abdullah-Akbar commented on #73
@MaimoonaFatima this is available in dev env now.

[2022-05-17 18:12] fersy02 opened #75 "[Bug]: Unable to login when 2FA enabled"
### Severity

Medium

### What happened?

A client has reported that he cannot log in with the 2FA enabled. He is using Google Authenticator and has multiple accounts.
We tried to log in with Google Authenticator having a single account, and it works fine, but with multiple accounts in Google Authenticator, it throws an error. Currently, he can access his account after installing Google Authentica

[2022-05-19 03:26] fersy02 opened #76 "[Bug]: Reset Password Throwing Error"
### Severity

Blocker

### What happened?

Please look into this on priority

We are unable to reset the password using with or without the auto-generate password and email option. Here's the error:
![image](https://user-images.githubusercontent.com/47815523/169197671-d221b0aa-143b-4133-a055-3d69b1fbe6fd.png)

![image](https://user-images.githubusercontent.com/47815523/169198049-65954d14-7e1d-4093

[2022-05-19 05:01] muqeetkhan20 commented on #76
@fersy02 I was able to reset the password successfully. Please give a try again,

[2022-05-19 05:05] muqeetkhan20 commented on #76
I have also tried for the user "APIsec Support", you should receive a password.
![image](https://user-images.githubusercontent.com/68276700/169212068-6c89cb4a-0ea1-4e9d-914c-01d26c112765.png)

[2022-05-19 10:28] fersy02 commented on #76
A client has experienced the same issue trying to archive the existing vulnerabilities:
![image](https://user-images.githubusercontent.com/47815523/169272987-fe0bf98f-4f71-485e-945a-cb73dc7ab542.png)

[2022-05-20 04:16] fersy02 opened #77 "[Bug]: Need help on profile deletion"
### Severity

Medium

### What happened?

One of the clients has reported that deleting a profile throws the following error:
![image](https://user-images.githubusercontent.com/47815523/169449355-2a7e859d-122c-41ae-827e-7f684b629710.png)

Although there are no active vulnerabilities, we can still not delete a profile.
![image](https://user-images.githubusercontent.com/47815523/169449046-b648c53b-a

[2022-05-20 05:05] Abdullah-Akbar commented on #77
After data cleanup, the new error message is

![image](https://user-images.githubusercontent.com/89911730/169454301-3510e943-457d-4a7f-baaa-f20d3b979979.png)

[2022-05-20 06:11] muqeetkhan20 commented on #77
@fersy02 @Abdullah-Akbar tested on net banking app, unable to reproduce this bug.

[2022-05-23 12:44] Abdullah-Akbar commented on #76
This was due to frequent CP restarts. I dont think it is an issue now.

[2022-05-23 12:45] Abdullah-Akbar commented on #77
Presence of both Active and Closed bugs prevent deletion of profile. They should be archived before profile deletion.

[2022-05-23 12:46] Abdullah-Akbar commented on #75
What is the make/model of the handset and OS?

[2022-05-23 15:20] fersy02 commented on #77
The problem is not with the presence and instead with the visibility of vulnerabilities. Additionally, without any active vulnerabilities the error message is misleading. Please check the attached screenshots.

[2022-05-23 20:19] VineshAPISEC opened #78 "[Bug] : Unable to open API's Vulnerability list portal on Safari browser"
### Severity

Medium

### What happened?

The url "http://cloud.fxlabs.io/ " isn't opening on Safari browser.Recieving blank page
<img width="1440" alt="Screenshot 2022-05-24 at 1 30 09 AM" src="https://user-images.githubusercontent.com/106115852/169899350-61a99977-f31d-409d-97f5-9592900913a4.png">

[2022-05-25 05:35] MuqeedA commented on #78
@VineshAPISEC , We tried online safari browser and were able to open cloud.apisec.ai .
What version of safari are you using?

[2022-05-25 10:14] fersy02 commented on #75
The customer is using an iPhone.

[2022-05-25 16:50] muqeetkhan20 opened #79 "[Bug]: Unable to register POSTMAN, RAML, GITRAW urls."
### Severity

Blocker

### What happened?

Please verify the configurations in the properties for postman, raml converters.

[2022-05-25 17:00] muqeetkhan20 opened #80 "[Bug]: Vulnerabilities not getting logged for Unsecured category"
### Severity

Blocker

### What happened?

Scan the unsecured endpoint, the vulnerabilities are not getting logged.

[2022-05-25 17:44] Abdullah-Akbar commented on #80
Just tested this in prod. working fine after restart.
![image](https://user-images.githubusercontent.com/89911730/170329207-6699a2db-86f4-4aba-913e-999656191b11.png)

[2022-05-25 17:55] muqeetkhan20 commented on #80
@MuqeedA please fix the threat icon for FP.
![image](https://user-images.githubusercontent.com/68276700/170331067-61d63778-12c8-409b-941f-3c2eb435feaf.png)

[2022-05-26 05:03] MuqeedA commented on #80
@muqeetkhan20 , FP icon issue fixed.

[2022-05-26 07:56] fersy02 opened #81 "[Bug]: Slack Notification returns an invalid URL"
### Severity

Medium

### What happened?

Slack Notification returns an invalid report URL.

The below sample URL is returned in the slack notification that throws an error code: 404 (Not Found)
https://cloud.fxlabs.io/#/app/projects/{projectId}/jobs/{jobId}/runs/{runId}
![image](https://user-images.githubusercontent.com/47815523/170443211-0149589f-e1c6-4645-9f1f-cd186c8c5444.png)

It works fine a

[2022-05-26 08:40] fersy02 opened #82 "[Bug]: Unable to generate SQL Server Injection Playbooks in Authentication Exploit(SQL)"
### Severity

Blocker

### What happened?

Authentication Exploit(SQL) playbooks are generated using the default MySQL database.

We have recently segregated the SQL injection categories per database type but the Authentication Exploit(SQL) still uses the former way of selecting an appropriate database from categories. Changing the database type from MySQL to SQLServer and regenerating playbooks h

[2022-05-27 11:41] #80 closed

[2022-05-27 11:41] #79 closed

[2022-05-27 11:41] #77 closed

[2022-05-27 11:42] #76 closed

[2022-05-27 11:42] muqeetkhan20 commented on #73
We are good now..

[2022-05-27 11:42] #73 closed

[2022-05-27 11:43] #71 closed

[2022-05-27 11:43] muqeetkhan20 commented on #72
We will discuss...

[2022-05-27 11:44] #69 closed

[2022-05-27 11:44] #68 closed

[2022-05-27 11:45] muqeetkhan20 commented on #67
If we have many projects, then all projects report is failing, for few projects we are good.
I am closing the ticket.

[2022-05-27 11:45] #67 closed

[2022-05-27 11:47] mmuqtaar commented on #67
@Abedeen1

[2022-06-02 11:13] fersy02 opened #83 "[Bug]: PowerShell script for CI/CD is throwing errors"
### Severity

Blocker

### What happened?

A client is running into issues with the PowerShell script for MS Azure Integration. Please look into it ASAP.

[2022-06-02 14:12] AkaramAli commented on #83
@fersy02  - Please share the steps to reproduce and logs if any ?

[2022-06-02 15:28] fersy02 commented on #83
@AkaramAli, please connect with @Mohammed-Luqman-Shareef for more details.
I discussed this issue today and found out that the PowerShell script is not fully functional.

[2022-06-06 06:48] fersy02 opened #84 "[Bug]: Playbook Generation Failing due to Payload size"
### Severity

Blocker

### What happened?

Previously playbook generation into multiple categories used to fail with a proper error message. Now, the playbook generation task is failing due to a timeout error and impacting the performance of the control plane.

Expected Response
![image](https://user-images.githubusercontent.com/47815523/172109908-458ea417-39cc-40f0-bca6-9e29e1e1b609.png)

Actual

[2022-06-07 16:53] fersy02 commented on #84
@Mohammed-Luqman-Shareef @Abdullah-Akbar @intesar
Any updates on this ticket? Currently, we are blocked on a couple of POVs, and it is also preventing us from generating playbooks in other projects when resources are overwhelmed due to this issue.

Due to privacy reasons, the OAS is not attached to this ticket. Please reach out to @Mohammed-Luqman-Shareef or @Abdullah-Akbar for more details.

[2022-06-08 03:14] muqeetkhan20 commented on #70
@MuqeedA please add QA tag after its done...we will test it

[2022-06-08 18:17] intesar commented on #84
@fersy02 have your team comment on a few (10,50, 100, etc.) endpoints and try to onboard the API.
@Mohammed-Luqman-Shareef Did we find the root cause of the problem?

[2022-06-09 07:52] Mohammed-Luqman-Shareef commented on #82
@fersy02 As discussed today this category is to inject generic SQL injection strings in the auth header.  For specific DB strings you can create a separate category.
You can close this ticket.

[2022-06-10 05:46] MuqeedA commented on #78
<img width="625" alt="image" src="https://user-images.githubusercontent.com/87184027/172998603-66e5bbda-d278-4e05-bb42-63b75e102f59.png">

we are able to open the cloud.fxlabs.io portal in online safari browser

[2022-06-10 05:53] jaleelsyed commented on #75
Refer to point **My Google Authenticator codes don’t work.**

https://support.google.com/accounts/answer/185834?hl=en#zippy=

[2022-06-13 14:39] asifadn9 opened #85 "[Bug]: Unsecured Vulnerabilities are not getting logged"
### Severity

Blocker

### What happened?

[2022-06-13 14:46] asifadn9 opened #86 "[Bug]: Postman and Raml are getting registered with zero endpoints and playbooks."
### Severity

Blocker

### What happened?

![Screenshot from 2022-06-13 20-13-34](https://user-images.githubusercontent.com/87167426/173379915-091eeb8e-0c67-47d3-9455-22f588f2f84b.png)

![Screenshot from 2022-06-13 20-14-56](https://user-images.githubusercontent.com/87167426/173380146-dbf45ea8-c4d8-4106-8659-7ce92e1326af.png)

[2022-06-13 18:20] Mohammed-Luqman-Shareef commented on #85
@jaleelsyed / @mohdrashid1
 it seems it is not able to connect to AI module.  Pls check.

[2022-06-13 22:04] intesar commented on #85
@SyedsImran @Mohammed-Luqman-Shareef - This is urgent. We just had an awkward sales call trying to demo the unsecured category.

[2022-06-13 22:06] intesar opened #87 "[Bug]: Log4j module is throwing sql error"
### Severity

Blocker

### What happened?

06:56:16 [D] [AVBAPBPLInjection] : Endpoint [http://application.apisec.ai:8080/api/v1/bank-account]
06:56:16 [D] [AVBAPBPLInjection] : Method ["POST"]
06:56:16 [D] [AVBAPBPLInjection] : Authorization [Default]
06:56:16 [D] [AVBAPBPLInjection] : Request headers [[Accept:"application/json", Content-Type:"application/json", Authorization=[**********]]]
06:56

[2022-06-14 06:36] mohdrashid1 commented on #85
@Mohammed-Luqman-Shareef  AI module is now working fine

[2022-06-14 22:56] intesar opened #88 "[Bug]: Show medium vulnerabilities in PDF reports"
### Severity

Medium

### What happened?

Write a brief report...

[2022-06-15 08:24] muqeetkhan20 commented on #88
@intesar this was the intended behaviour of the pdf reports, we use to show only critical and high vulnerabilities. We can treat this as an enhancement. Thanks.

[2022-06-15 08:29] muqeetkhan20 commented on #87
@intesar we had a discussion with the engineering on these exceptions at the time of log4j release, it was determined as data issues in net banking app by engineering - fyi

[2022-06-15 09:09] #86 closed

[2022-06-15 09:09] #85 closed

[2022-06-15 09:11] muqeetkhan20 commented on #84
@Mohammed-Luqman-Shareef skipAbac is in place now, do we have any more iterations or can we close this ticket?

[2022-06-15 09:12] #82 closed

[2022-06-15 09:19] muqeetkhan20 commented on #81
@fersy02 we have problems integrating with slack, could you please verify and close this ticket.

[2022-06-15 09:23] muqeetkhan20 commented on #72
@Mohammed-Luqman-Shareef as per our discussion, are we going to fix this?

[2022-06-15 09:23] #70 closed

[2022-06-15 09:24] #64 closed

[2022-06-15 12:10] Mohammed-Luqman-Shareef commented on #87
@jaleelsyed will be looking into it if there can be a way to avoid such errors and map to some existing user id in backend and return an OK response.

[2022-06-15 13:51] Mohammed-Luqman-Shareef commented on #84
The skipAbac flag will be added on the Details page.

[2022-06-16 06:59] Mohammed-Luqman-Shareef commented on #84
@muqeetkhan20 as discussed you can close the ticket.

[2022-06-16 07:08] #84 closed

[2022-06-16 15:04] dave-apisec opened #89 "[Bug]: OAS Parameter $ref not expanding in path, not being registered as variable"
### Severity

Blocker

### What happened?

When onboarding an OAS file, there are parameters that reference definitions later in the file using $ref

Swagger Doc $ref:
https://swagger.io/docs/specification/using-ref/

Please reach out to me and I'll provide full swagger.

Example swagger snippet:
[code]

and later in the file

[code]

Expected:
APIsec expands these references and creates variables

[2022-06-21 15:56] fersy02 opened #90 "[Bug]: HMAC script update"
### Severity

Medium

### What happened?

Correction in the following HMAC Script:
https://raw.githubusercontent.com/apisec-inc/apisec-scripts/master/pre-script.py

sign_request function requires four arguments, out of which 3rd and 4th arguments are automatically substituted during run-time
As per the sample script, the method is the 3rd argument, and the URL is 4th.
![image](https://user-images.

[2022-06-21 17:39] fersy02 opened #91 "[Bug]: HMAC Authentication URL doesn't support variables"
### Severity

Blocker

### What happened?

If there is an endpoint that requires a path parameter. A variable is created automatically and the playbook path contains the syntax of that variable. We have noticed that the endpoint path sent contains the variable syntax and the value due to this signature is incorrectly generated and the authentication fails.

HMAC Authentication requires a script to

[2022-06-23 06:11] AkaramAli commented on #90
Sample example script updated .

[2022-06-23 09:52] muqeetkhan20 commented on #87
As discussed in today's call, this is not a real-time bug.
Closing the ticket.

[2022-06-23 09:52] #87 closed

[2022-06-23 09:53] #83 closed

[2022-06-23 10:00] #81 closed

[2022-06-23 13:33] Abedeen1 commented on #88
@asifadn9 , Done

[2022-06-24 11:25] muqeetkhan20 commented on #78
@VineshAPISEC QA doesn't have the operating system to verify the safari browser.
Could you please verify and close the ticket if it's working?

[2022-06-27 04:23] fersy02 opened #93 "[Bug]: Fails to discover APIs from Mulesoft API Gateway"
### Severity

Blocker

### What happened?

The customer has reported that they could connect to the Anypoint platform and view or download the API definitions.

Using the same credentials when they tried to integrate with the Mulesoft API Gateway, they couldn't find any errors in the APIsec platform. However, the APIs are not visible in the APIsec account. There is no way to troubleshoot, nor are

[2022-06-27 04:34] fersy02 opened #94 "[Bug]: On-premises Scanner Error"
### Severity

Blocker

### What happened?

One of our clients has reported an inconsistency with the On-premises scanner deployed in the AWS Cloud.
The scanner has deployed successfully. `sudo docker ps` lists the docker instance in the VM.
The VM has all outbound protocols, and ports opened.
Able to Ping, the cloud.fxlabs.io host from the VM.

The scanner appears running in the Private scanners t

[2022-06-27 05:18] Abedeen1 commented on #93
HI @fersy02 ,

Could you please share the apigee user info.

Regards,
Abedeen.

[2022-06-27 05:31] Mohammed-Luqman-Shareef commented on #93
@Abedeen1 ,  I just sent you the details

[2022-06-27 05:39] Abedeen1 commented on #93
@fersy02 ,

The User doesent have access to API Manager
![Screenshot from 2022-06-27 11-08-48](https://user-images.githubusercontent.com/87793504/175867387-1820e2af-1baa-4ab1-955e-f0170ab487ad.png)

[2022-06-27 07:50] fersy02 commented on #93
Requested client to grant access of the API Manager component. @Abedeen1 is this point documented?

[2022-06-27 14:26] Abedeen1 commented on #93
@Mohammed-Luqman-Shareef , Could you please provide step to document

[2022-06-28 10:36] muqeetkhan20 commented on #93
@Mohammed-Luqman-Shareef this is an access issue at the client side and not reproducible, should we close the ticket or wait for document?

[2022-06-28 10:39] Mohammed-Luqman-Shareef commented on #89
Here are my findings with this spec.
    The definition of the path parameter is incomplete.  For Example, for the parameter CallerType it is currently as below.

    "/api/ec/allegedTrades/v1/{callerType}/listAllegedTradesByDateTime" : {
      "get" : {
        "summary" : "Returns a list of alleged trade descriptions with a recent status date.",
        "description" : "list Trade Status By Trad

[2022-06-28 10:39] #89 closed

[2022-06-28 10:42] Mohammed-Luqman-Shareef commented on #72
#1. @muqeetkhan20 When you edit a playbook you can't randomly give any name to the category.  A Category with that name should exist in the Security Categories.  For any new playbook which doesn't fall under any existing categories you can specify as "Custom".
#2 is fixed.

[2022-06-28 11:33] #90 closed

[2022-06-28 17:44] SyedsImran commented on #94
Just deployed a scanner as a docker container in AWS Ubuntu VM.
Scanner is able to connect to our prod VM( cloud.fxlabs.io)
![image](https://user-images.githubusercontent.com/100760767/176247751-01f8938c-58fb-4afc-9847-961f7deea514.png)

Status of it is showing as running and "OK" on the UI page.
![image](https://user-images.githubusercontent.com/100760767/176247917-a5559e3b-0454-4a34-95aa-b8d279f

[2022-06-28 18:05] asifadn9 commented on #88
@Abedeen1  and @muqeetkhan20, Medium vulnerabilities are not listed in active vulnerabilities table in pen test Report.

[2022-06-29 03:58] fersy02 commented on #93
@Abedeen1
As per the client:
There is a sub category under “API Manager” called “Business Group” this user have access to that, here is the direct link for Business Group once you logged in https://anypoint.mulesoft.com/apimanager/lpl-financial-87/#/organizations/06093e0c-dc19-4f05-9ffb-7c820ce5d1d3/environments/e177c845-75a2-4e58-a8e6-075cbcf1d5a9/apis

To get to Business group, after you’ve logg

[2022-06-29 04:47] muqeetkhan20 commented on #88
@asifadn9 good catch, please get this fixed.

[2022-06-29 04:53] Abedeen1 commented on #88
@asifadn9 Done.

[2022-06-29 04:59] Abedeen1 commented on #93
@Mohammed-Luqman-Shareef ,

Below 2 senarios are not considered during development of Mulesoft Integration

1. Business Group
2. Environment.

Can we go further on its Patch.

Regards,
Abedeen.

[2022-06-29 06:05] asifadn9 commented on #88
@Abedeen1 , Medium vulnerabilities are now listed in active vulnerabilities table. but the Business Risk meter is still pointing to high in developer and pen-test reports.

[2022-06-29 06:49] fersy02 commented on #93
@Abedeen1 @Mohammed-Luqman-Shareef @intesar
Initially, we need to support Business Group in Mulesoft API Integration for one of our customers to onboard 300+ APIs. Currently, they have onboarded 150 APIs manually.

[2022-06-29 07:03] fersy02 opened #95 "[Bug]: Previous and Next Scan buttons throwing an Error"
### Severity

Medium

### What happened?

On the scan details page, we have Previous & Next <> buttons to navigate to other scans. Upon clicking the next button(>) from the last scan or the previous button(<) from the first scan, it throws an error instead of notifying the user.

![image](https://user-images.githubusercontent.com/47815523/176370974-43af2681-e72c-4f21-a3ba-a18e279b0162.png)

Ideall

[2022-06-29 07:13] muqeetkhan20 commented on #95
@fersy02 we have already raised this bug 2 weeks ago, engineering should fix this sooner.
https://github.com/apisec-inc/Engineering/issues/234

We can close this support ticket to avoid the duplicate.

[2022-06-29 07:43] fersy02 commented on #95
Sure, @muqeetkhan20. Please go ahead.

[2022-06-29 11:01] #95 closed

[2022-06-29 11:16] Abedeen1 commented on #88
@asifadn9 ,

This is different issue, raise it in different ticket.

[2022-06-29 19:28] intesar opened #96 "[Bug]: GA not working for Releases and Documentation"
### Severity

Medium

### What happened?

Write a brief report...

Login to Google Analytics for more details.

[2022-06-30 04:53] muqeetkhan20 commented on #78
@aijajapisec please verify on online safari browser and close the ticket, for any assistance please coordinate with @MuqeedA

[2022-06-30 04:55] MuqeedA commented on #78
@aijajapisec
The Safari browser for Windows is outdated. You need to validate the APIsec portal in the latest Safari browser of Mac OS.

Ref: https://support.apple.com/en-in/HT204416

[2022-06-30 05:23] aijajapisec commented on #78
Hi @MuqeedA ,
@muqeetkhan20  1.Can you please help me to get  Mac OS , 2. I am not getting any online Safari browser
![image](https://user-images.githubusercontent.com/103985624/176598175-da91d86f-87cc-405f-8f16-605755eb971c.png)

[2022-06-30 05:28] fersy02 opened #97 "[Bug]: Error displayed upon reloading an OAS via URL"
### Severity

Medium

### What happened?

**We support registering a private OAS URL after whitelisting the control plane IP (cloud.fxlabs.io)**

One of our customers has reported that they couldn't reload a private OpenAPI specification URL.
I have downloaded the file using a playbook and registered it successfully. Upon reloading the specification URL, it throws the following error:
![image](htt

[2022-06-30 05:42] muqeetkhan20 commented on #97
Unable to reproduce this error in NetBanking project - fyi

[2022-06-30 05:45] Mohammed-Luqman-Shareef commented on #97
Waiting for the IP address to be whitelisted.
@fersy02 Pls let us know once it is done.

[2022-06-30 06:53] MaimoonaFatima commented on #72
We have tried to give the  category a random name and its allowing us to save.
![image](https://user-images.githubusercontent.com/72252407/176611609-4b69a76e-868e-4764-8894-ef5d41e7411d.png)

[2022-07-01 05:18] Abedeen1 commented on #93
@fersy02 , This ticket is ready in development.

[2022-07-01 11:39] Abedeen1 commented on #88
@asifadn9 , Done, Varify.

[2022-07-01 11:58] SyedsImran opened #98 "[Bug]:"
### Severity

Medium

### What happened?

Testing pin issue github action

[2022-07-01 13:47] MaimoonaFatima commented on #72
Tested in Dev environment, working fine.

[2022-07-04 04:07] fersy02 commented on #97
@Mohammed-Luqman-Shareef
The client has double-checked and confirmed that the IP is whitelisted. Do we have to whitelist any additional IPs apart from this: 163.107.196.104
We also need better error handling. In this case, neither the client nor us could debug this issue as the logs are empty.

[2022-07-04 06:02] Mohammed-Luqman-Shareef commented on #97
@fersy02 The OAS url you provided in the email is not accessible from this machine.   Is the url open or does it require any credentials to access?

[2022-07-04 06:21] sarasheed commented on #97
This is our production's VM IP 104.196.107.163.

[2022-07-04 06:27] aijajapisec commented on #78
Hi @VineshAPISEC
cc: @muqeetkhan20

This is working fine , I have verified it on online Safari browser , It can be close now.
use this link to verify this issue https://app.lambdatest.com/viewer/TES10160531401656915616479447

![image](https://user-images.githubusercontent.com/103985624/177094323-b00480e8-c1bc-4fe0-9bde-23ae81102f5d.png)

Thanks
Aijaj

[2022-07-04 06:52] muqeetkhan20 commented on #78
@aijajapisec please log few vulnerabilities and verify if the vulnerability list is visible.

[2022-07-04 07:25] aijajapisec commented on #78
![image](https://user-images.githubusercontent.com/103985624/177103341-15df21bd-7d17-4c0c-b5e0-705112663a1d.png)

[2022-07-04 17:26] muqeetkhan20 commented on #78
Thanks @aijajapisec
@VineshAPISEC we are closing this ticket.

[2022-07-04 17:26] #78 closed

[2022-07-05 06:52] Rahman-1234 commented on #93
@muqeetkhan20 , @Abedeen1
Getting Error while creating new Mulesoft API gateway in dev , Please refer SS
![image](https://user-images.githubusercontent.com/87167471/177267471-580a882d-ca91-4d52-824c-86c069b1e2b3.png)

[2022-07-05 06:55] Abedeen1 commented on #93
@Rahman-1234 , we are looking into it.

[2022-07-05 07:00] Abedeen1 commented on #93
@Rahman-1234 ,

We are able to register all the Mulesoft Api in developer env. for the user Fida-MS

![Screenshot from 2022-07-05 12-30-06](https://user-images.githubusercontent.com/87793504/177268831-00a7e1b6-681f-477a-bdbb-bf1378341057.png)

Regards,
Abedeen.

[2022-07-05 13:54] asifadn9 commented on #88
verified in dev, looks good

[2022-07-05 13:55] asifadn9 commented on #91
verified in dev, looks good

[2022-07-06 07:53] intesar opened #99 "[Bug]: Expired Login wasn't automatically redirecting to Logout page"
### Severity

Blocker

### What happened?

1. Went to the cloud.fxlabs.io
2. My login was expired so the UI showed me an error message saying, /login-status received 500
3. When I canceled the error dialog it was showing the same blank page and didn't redirect to the login page
4. I had to go to the top-right menu and click the logout icon, then it showed the login page

This is a blocker. The use

[2022-07-06 08:01] muqeetkhan20 commented on #99
@intesar this behaviour is inconsistent, few of our team members got to experience this issue but not always.

[2022-07-07 15:41] #93 closed

[2022-07-07 15:50] muqeetkhan20 commented on #91
Our request to create scanner with HMAC script in prod was not completed.
We were unable to test in prod. Hence closing this ticket.

Though it's we tested in dev env and its working.

[2022-07-07 15:50] #91 closed

[2022-07-07 15:52] #72 closed

[2022-07-12 14:36] wesleymeier opened #100 "[Bug]: Unable to add new user"
### Severity

Blocker

### What happened?

When attempting to add a new user (as an Admin), UI only presents Add Guest User (New User and New Users Bulk is ghosted out).  Using Add Guest User to setup another user fails with error code 'Invalid Request"

[2022-07-12 23:04] #99 closed

[2022-07-14 05:16] muqeetkhan20 commented on #100
@wesleymeier I am able to perform this operation.

Adding the New User:
![image](https://user-images.githubusercontent.com/68276700/178904566-50c49df2-0a15-4274-9168-eb223cfa3470.png)

Successfully added the new user:
![image](https://user-images.githubusercontent.com/68276700/178904691-9df24890-017e-4741-817b-c737d04e741b.png)

[2022-07-14 06:03] muqeetkhan20 commented on #84
@wesleymeier the large payload spec will not allow you to generate playbooks for all the categories. It only allows you to generate unsecured, rest you have to manually create a single category at a time through playbook management.

I tried with the big file and i was able to generate the unsecured with the below notification message in the activities.
![image](https://user-images.githubuserconte

[2022-07-18 21:04] SuddenDevelopment opened #101 "[Bug]: Error on WebMethods Scanner list"
### Severity

Medium

### What happened?

Error on WebMethods Scanner list

I don't know there is functionality behind this that is missing or it's just an unfriendly way of saying there are no scanners.

![Screen Shot 2022-07-18 at 5 02 01 PM](https://user-images.githubusercontent.com/138704/179616842-dfbd45ed-b4a4-435f-97ee-c7222f898f74.png)

[2022-07-18 21:09] SuddenDevelopment opened #102 "[Bug]: Token Error when selecting an AWS region to register API gateway"
### Severity

Medium

### What happened?

I'm not familiar enough to know the reason behind the token error. To a user it looks bad. If it is a common error then a more friendly error message would help.

![Screen Shot 2022-07-18 at 5 07 36 PM](https://user-images.githubusercontent.com/138704/179617650-12e7d7bc-2762-460a-ab8c-49827351a59c.png)

[2022-07-20 03:43] Mohammed-Luqman-Shareef commented on #97
Closing this ticket as the resolution is provided and no further action pending.

[2022-07-20 03:43] #97 closed

[2022-07-20 22:22] SuddenDevelopment opened #103 "[Bug]: Documentation site is not redeploying reliably"
### Severity

Blocker

### What happened?

when I updated documentation files it kicks off Github Actions ot rebuild and redeploy. the job goes very quickly in under 1 minute, but the site wasn't accessible for about 1 hour.

Today we have a similar issue it's been 20 minutes since the data was updated and Atef and I verified we cannot reach the site. I tried re-running the github action and it su

[2022-07-20 22:34] atef-aa opened #104 "[Bug]: Multiple emails received with subject line 'APIsec bot for APIsec Scan Summary Report ...'"
### Severity

Medium

### What happened?

Earlier this week I created a project called Demoaa.  Then, under Integrations > created a Report Storage.  I have received several emails today (Wednesday) with the same subject, content and attachment.  I don't recall running the Scan on the frontend or triggering any command.

The email subject for these 11 emails was the same:
APIsec Scan Summary Repor

[2022-07-20 22:49] atef-aa opened #105 "[Bug]: After the site session timeout, clicking on the OK popup, it redirects to login page with the AWS saved key-secret as username & password."
### Severity

Medium

### What happened?

When the APIsec site session times out, a popup message appears with a message and OK button.  After clicking on that it routes to login page.  On the login page, if the user saved the Access-key and Secret-key to the browser, then those credentials are appearing.

**This can expose the secret-key if someone else other than the account holder clicks on the

[2022-07-20 23:00] atef-aa opened #106 "[Bug]: The Configuration and Reports tabs under the project are not highlighted when selected."
### Severity

Medium

### What happened?

When a user selects a project and lands on the project page, then navigates to Configurations or Reports, though they are selected, the tabs are not bolded.

However, it does highlight with blue line under the selected item (which is fine).

**Steps to reproduce**
Under All Projects > Select a project >  Once you land on the main page > Select Configuratio

[2022-07-21 05:26] muqeetkhan20 commented on #105
@atef-aa I believe these are saved in your browser cookies, so it will be visible only to you. Thanks

[2022-07-21 05:27] muqeetkhan20 commented on #106
@atef-aa this is an intended design, we just wanted to highlight the project name tab, other tabs are muted text.

[2022-07-21 05:45] muqeetkhan20 commented on #103
@SuddenDevelopment 2 things over here:
We should not push bunch of commits at a time, we have to give some breath after each commit.
and you can give a  try in incognito mode for the changes to reflect immediately, few times due to cache enabled it gives hard time to reflect the changes.

[2022-07-21 06:18] muqeetkhan20 commented on #104
@atef-aa first of it's strange to get the emails without triggering any report.
second thing, report storage kicks only pen test, developer and compliance reports. We doesn't have code in place to store the summary reports.
however, we tried triggering the summary reports, and unable to reproduce the issue (i.e. repeated emails), just we got one email.
Please give it a try again and let's see how

[2022-07-21 14:47] SuddenDevelopment commented on #103
@muqeetkhan20  ok I figured that was the cause. How do we correct it when it happens?

[2022-07-21 17:28] muqeetkhan20 commented on #103
try to clear cookies and cache in your browser.

[2022-07-21 20:19] SuddenDevelopment opened #107 "[Bug]: Integrations->Notifications->Inactive is wrong status"
### Severity

Medium

### What happened?

The slack notification status toggle is reversed.

Active should be toggle on and green
Inactive should be grey and toggled left

![Screen Shot 2022-07-21 at 4 15 20 PM](https://user-images.githubusercontent.com/138704/180307862-ac4661e0-779c-4c6d-b866-9ab2ef5777b1.png)

![Screen Shot 2022-07-21 at 4 17 56 PM](https://user-images.githubusercontent.com/1387

[2022-07-21 20:45] SuddenDevelopment opened #108 "[Bug]: Wrong Error for Free account on "Collaborators""
### Severity

Medium

### What happened?

When using a free account and clicking on Configurations->Details->Collaborators get the wron Error Message, everywhere else it says to upgrade to pro[
![Screen Shot 2022-07-21 at 4 36 48 PM](https://user-images.githubusercontent.com/138704/180311305-bea8e3c9-8293-42f0-a1d7-cc359b4bb13c.png)
](url)

[2022-07-21 21:07] SuddenDevelopment opened #109 "[Bug]: Error clicking next when it should be disabled?"
### Severity

Medium

### What happened?

from a free account I ran a scan, looking at the results there are navigation buttons in the top right I'm guessing to go to next scan result? when I clicked on the right arrow I got the following error.

I'm guessing the arrow should be disabled if there is no next scan

![Screen Shot 2022-07-21 at 5 05 17 PM](https://user-images.githubusercontent.com/138

[2022-07-22 03:16] muqeetkhan20 commented on #107
@SuddenDevelopment we have already logged this bug in our engineering board, we can close this ticket.
https://github.com/apisec-inc/Engineering/issues/263

[2022-07-22 03:18] muqeetkhan20 commented on #108
@SuddenDevelopment free user have limitations, he is not allowed to collob the resources. though we can improve the messaging.

[2022-07-22 03:20] muqeetkhan20 commented on #109
@SuddenDevelopment this bug is already raised on 15th july and it's fixed, it will be available in next prod refresh.
https://github.com/apisec-inc/Engineering/issues/234

[2022-07-22 05:15] Abedeen1 commented on #102
Hi @SuddenDevelopment ,

Could you please share your AWS Account credentials.

Regards,
Abedeen.

[2022-07-22 07:18] ImranShaik065 commented on #107
![image](https://user-images.githubusercontent.com/87167248/180385208-10862fb5-8e35-409c-903d-76ae17889087.png)
Fixed.

[2022-07-22 19:15] SuddenDevelopment commented on #107
ok thanks, was unaware of the other place to check.

[2022-07-22 19:15] #107 closed

[2022-07-22 19:28] SuddenDevelopment opened #110 "[Bug]: My email report never showed up 24 hours later"
### Severity

Medium

### What happened?

From the scan summary page I opened a menu and selected "Summary Report" it said it woked. It was supposed to go to anthony@apisec.ai

this was on a free account. if it's not allowed on a free account it should say so.

![Screen Shot 2022-07-22 at 3 26 38 PM](https://user-images.githubusercontent.com/138704/180513634-b6e8d145-e2ad-4b7b-a824-24eb504579b6.pn

[2022-07-23 10:00] muqeetkhan20 commented on #110
@SuddenDevelopment Yes, free account has restrictions to generate the reports. We will have to improve the messaging.
@MuqeedA please take care of this.

[2022-07-25 05:06] Mohammed-Luqman-Shareef commented on #106
@muqeetkhan20 Since this is not a bug, pls close the ticket.

[2022-07-25 05:07] Mohammed-Luqman-Shareef commented on #105
@muqeetkhan20 If it is a browser/cookies issue, you can close this ticket.

[2022-07-25 05:09] Mohammed-Luqman-Shareef commented on #100
Closing this ticket, since no issues found.

[2022-07-25 05:09] #100 closed

[2022-07-25 08:52] #106 closed

[2022-07-25 08:53] muqeetkhan20 commented on #105
@muqeetkhan20 it seems like a browser issue, but still @atef-aa wants to reproduce it again.
@atef-aa we will close the ticket for now, we can discuss on the call if you are able to reproduce this issue again.

[2022-07-25 08:53] #105 closed

[2022-07-26 05:23] MuqeedA commented on #110
UI changes pushed.
<img width="905" alt="image" src="https://user-images.githubusercontent.com/87184027/180929598-827621e9-49a3-47db-8a19-b3238a143f49.png">

[2022-07-26 05:39] #103 closed

[2022-07-26 05:44] amer-apisec commented on #110
Verified in dev, working fine.
It would be available after the prod refresh.

[2022-07-26 05:46] muqeetkhan20 commented on #102
@SuddenDevelopment yes, this error is due to invalid access key or security token.
@MuqeedA we have to improve the messaging, below are the steps to reproduce this error.
1. Register API Gateway with AWS
2. Supply wrong credentials (access key or security token)
3. OK - It will register AWS gateway.
4. Click on the AWS tile and select the AWS region.
5. You will see the below error.
![image](https

[2022-07-26 05:55] muqeetkhan20 commented on #101
@MuqeedA we need to improve messaging for the given invalid credentials, it's throwing some weird or technical errors. Let's apply the messaging for all the gateways. I am able to reproduce for Azure and Web methods.

Acceptance message: "Invalid credentials"

![image](https://user-images.githubusercontent.com/68276700/180933377-690cbfc1-cf14-4b64-80e4-f0e4210ba274.png)
![image](https://user-image

[2022-07-26 07:34] MuqeedA commented on #108
Code changes pushed.
<img width="914" alt="image" src="https://user-images.githubusercontent.com/87184027/180949842-01424dec-f725-4919-9d76-18971fbd5f18.png">

[2022-07-27 05:10] Mohammed-Luqman-Shareef commented on #102
@Abedeen1 Pls send a proper error message to the UI when we get this error from the Gateway.   Sync up with @MuqeedA for further details.

[2022-07-28 20:34] intesar opened #111 "[Bug]: test"
### Severity

Medium

### What happened?

Write a brief report...

[2022-07-28 20:36] intesar commented on #111
I looked into it, looks like a bug.

[2022-07-28 20:36] #111 closed

[2022-08-01 05:14] Mohammed-Luqman-Shareef commented on #101
@Abedeen1 Pls make changes for the all the Gateways to handle the errors and send a generic error msg to CP to return to UI.

[2022-08-01 05:22] #102 closed

[2022-08-01 11:25] #109 closed

[2022-08-01 11:26] amer-apisec commented on #108
Working fine, should be available in next prod refresh.

[2022-08-02 05:28] Abedeen1 commented on #101
@muqeetkhan20 , Could you please provide Azure API Gateway creds.

Regards,
Abedeen.

[2022-08-03 11:49] #108 closed

[2022-08-03 11:51] #110 closed

[2022-08-04 05:39] muqeetkhan20 commented on #94
@fersy02 we are unable to verify, due to tenant specific. Should we close the ticket?

[2022-08-04 05:40] muqeetkhan20 commented on #104
@atef-aa I am closing this ticket.

[2022-08-04 05:40] #104 closed

[2022-08-04 15:01] SuddenDevelopment opened #112 "[Bug]: Case sensitive username on login"
### Severity

Medium

### What happened?

The username field should not be case sensitive. emails are not case sensitive.

[2022-08-04 15:54] fersy02 commented on #94
@muqeetkhan20, I haven't received a confirmation from the client yet, but we could close this ticket, and if required, we shall reopen this ticket or file a new one. Thanks!

[2022-08-04 17:23] atef-aa commented on #112
@muqeetkhan20 - I verified this. Please assign it to a developer.

[2022-08-05 05:12] #94 closed

[2022-08-08 20:39] SuddenDevelopment opened #113 "[Bug]: document header header definition"
### Severity

Blocker

### What happened?

I was trying to add custom headers such as :
`Get:[x-trigger:CORS]`

and it did not copy over to playbooks.
need to be able to define custom headers like this for all endpoints, to define security categories from the UI

[2022-08-09 20:17] intesar commented on #113
I tested these, and it didn't work either:
*:*[Origin: https://possibly.vulnerable.com]
Get:*[Origin: https://possibly.vulnerable.com]
Put:*[Origin: https://possibly.vulnerable.com]
Post:*[Origin: https://possibly.vulnerable.com]
Delete:*[Origin: https://possibly.vulnerable.com]
Get[Origin: https://possibly.vulnerable.com]
*/*[Origin: https://possibly.vulnerable.com]

This syntax worked.
Get:/api/

[2022-08-10 14:37] SuddenDevelopment commented on #113
what about wildcard in path like:
Get:/api/v1/*[Origin: https://possibly.vulnerable.com]

can we also support that while working on this?

[2022-08-12 18:47] intesar opened #114 "[Bug]: Support UUID based ID's in Unsecured categories"
### Severity

Medium

### What happened?

Checkout this call...
06:24:41 [D] [VSDIPAInvalid] : Endpoint [https://api-przedszkola.backendowo.com/v1/subscriptions/decline/12345]
06:24:41 [D] [VSDIPAInvalid] : Method ["POST"]
06:24:41 [D] [VSDIPAInvalid] : Authorization []
06:24:41 [D] [VSDIPAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
06:24:41 [D] [VSDIP

[2022-08-12 19:03] intesar opened #115 "[Bug]: Why is this result marked as FP by the AI?"
### Severity

Medium

### What happened?

05:40:45 [D] [AGAInvalid] : Endpoint [https://api.taxbit.com/staging/assets]
05:40:45 [D] [AGAInvalid] : Method ["GET"]
05:40:45 [D] [AGAInvalid] : Authorization []
05:40:45 [D] [AGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
05:40:45 [D] [AGAInvalid] : Request []
05:40:45 [D] [AGAInvalid] : Status code [200]
0

[2022-08-12 19:37] intesar opened #116 "[Bug]: Why AI didn't pick this up as FP"
### Severity

Medium

### What happened?

05:40:45 [D] [OTPAInvalid] : Endpoint [https://api.taxbit.com/staging/oauth/token]
05:40:45 [D] [OTPAInvalid] : Method ["POST"]
05:40:45 [D] [OTPAInvalid] : Authorization []
05:40:45 [D] [OTPAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
05:40:45 [D] [OTPAInvalid] : Request [{
  "client_id" : "bImhhUmq",
  "clien

[2022-08-12 19:47] intesar opened #117 "[Bug]: Path variable from base URL not expanded"
### Severity

Medium

### What happened?

06:32:24 [D] [DRGAInvalid] : Endpoint [https://sandbox-api.va.gov/services/veteran_verification/{version}/disability_rating]
06:32:24 [D] [DRGAInvalid] : Method ["GET"]
06:32:24 [D] [DRGAInvalid] : Authorization []
06:32:24 [D] [DRGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
06:32:24 [D] [DRGAInvalid] : Reques

[2022-08-12 20:10] intesar opened #118 "[Bug]: Why is this marked FP by AI?"
### Severity

Medium

### What happened?

03:27:04 [D] [AVTMUDAInvalid] : Endpoint [https://id.lexacom.com/api/v2/team/member/7617b912-ad13-45be-ad9e-70185677806a]
03:27:04 [D] [AVTMUDAInvalid] : Method ["DELETE"]
03:27:04 [D] [AVTMUDAInvalid] : Authorization []
03:27:04 [D] [AVTMUDAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
03:27:04 [D] [AVTMUDAInval

[2022-08-12 20:17] intesar opened #119 "[Bug]: Home page, pagination 50/100 not working - just remove 50/100 the options"
### Severity

Medium

### What happened?

It's just spinning. I guess it's a lot of data to show. It's better we just remove the 50/100 page size options from it.

[2022-08-12 20:22] intesar opened #120 "[Bug]: Scan details page sort by failed"
### Severity

Medium

### What happened?

Order: failed, FP, and passed

[2022-08-12 20:25] intesar opened #121 "[Bug]: Handle invalid base URLs"
### Severity

Medium

### What happened?

Can we validate base URLs? Detect invalid hosts, localhost, 127.0.0.1.

Here is a failed tests

02:18:44 [D] [IPGAInvalid] : Endpoint [http://host/invoices/12345]
02:18:44 [D] [IPGAInvalid] : Method ["GET"]
02:18:44 [D] [IPGAInvalid] : Authorization []
02:18:44 [D] [IPGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"

[2022-08-12 20:26] intesar opened #122 "[Bug]: Why is AI marking it FP"
### Severity

Medium

### What happened?

11:10:12 [D] [ABVLCSGAInvalid] : Endpoint [https://www.olx.in/api/bxp/v3/listing-configurations/search?platform=12345&categoryId=12345&features=12345&lang=12345]
11:10:12 [D] [ABVLCSGAInvalid] : Method ["GET"]
11:10:12 [D] [ABVLCSGAInvalid] : Authorization []
11:10:12 [D] [ABVLCSGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"applic

[2022-08-12 20:30] intesar opened #123 "[Bug]: We should handle this as FP by AI"
### Severity

Medium

### What happened?

06:09:47 [D] [HCJGAInvalid] : Endpoint [https://apiv2.vikomet-next.eu/health-check.json]
06:09:47 [D] [HCJGAInvalid] : Method ["GET"]
06:09:47 [D] [HCJGAInvalid] : Authorization []
06:09:47 [D] [HCJGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
06:09:47 [D] [HCJGAInvalid] : Request []
06:09:47 [D] [HCJGAInvalid]

[2022-08-12 21:15] intesar opened #124 "[Bug]: Why did we generate a UUID in the path?"
### Severity

Medium

### What happened?

03:19:44 [D] [AVLLIDAInvalid] : Endpoint [https://testing-api.conexoo.com/api/v1/language/96c9d477-aef4-46ab-bbfc-86611554a7de]
03:19:44 [D] [AVLLIDAInvalid] : Method ["DELETE"]
03:19:44 [D] [AVLLIDAInvalid] : Authorization []
03:19:44 [D] [AVLLIDAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
03:19:44 [D] [AVLLID

[2022-08-12 21:18] intesar commented on #122
03:19:35 [D] [AVSGAInvalid] : Endpoint [https://testing-api.conexoo.com/api/v1/states]
03:19:35 [D] [AVSGAInvalid] : Method ["GET"]
03:19:35 [D] [AVSGAInvalid] : Authorization []
03:19:35 [D] [AVSGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
03:19:35 [D] [AVSGAInvalid] : Request []
03:19:35 [D] [AVSGAInvalid] : Status code [200]
03:19:35 [D] [AVSGAInva

[2022-08-12 21:18] intesar commented on #122
03:19:56 [D] [AVOSPAInvalid] : Endpoint [https://testing-api.conexoo.com/api/v1/order/status]
03:19:56 [D] [AVOSPAInvalid] : Method ["PUT"]
03:19:56 [D] [AVOSPAInvalid] : Authorization []
03:19:56 [D] [AVOSPAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
03:19:56 [D] [AVOSPAInvalid] : Request [{
  "status" : null,
  "url" : null,
  "comment" : null
}]
03:

[2022-08-12 21:18] intesar commented on #122
03:19:57 [D] [AVCGAInvalid] : Endpoint [https://testing-api.conexoo.com/api/v1/cities]
03:19:57 [D] [AVCGAInvalid] : Method ["GET"]
03:19:57 [D] [AVCGAInvalid] : Authorization []
03:19:57 [D] [AVCGAInvalid] : Request headers [[Accept:"application/json", Content-Type:"application/json"]]
03:19:57 [D] [AVCGAInvalid] : Request []
03:19:57 [D] [AVCGAInvalid] : Status code [500]
03:19:57 [D] [AVCGAInva

[2022-08-12 21:29] intesar opened #125 "[Bug]: Postman Integration Issues"
### Severity

Medium

### What happened?

- [x] Show total Collections found on the top
- [ ] How does the scale works? Will it handle 1000 collections?
- [x] #132

[2022-08-13 07:29] Mohammed-Luqman-Shareef commented on #124
@intesar Can You pls share the Spec.

[2022-08-13 07:29] Mohammed-Luqman-Shareef commented on #117
@intesar Can you pls share the Spec.

[2022-08-13 10:13] habeebvulla commented on #122
Please give me access to this project and share the link. I will look into it. Thank you

[2022-08-15 17:20] SuddenDevelopment opened #126 "[Bug]: inconsistent form flow for security categories - > vulnerability score"
### Severity

Medium

### What happened?

the rest of the form has values on the left and descriptions on the right.

vulnerability score has  a full width value

![Screen Shot 2022-08-15 at 1 19 11 PM](https://user-images.githubusercontent.com/138704/184683999-4dbb99d0-fbba-4809-8c72-06d31b1d7576.png)

can be resolved by containing the values to the left half and adding a description to the right

[2022-08-15 18:15] atef-aa commented on #113
@Mohammed-Luqman-Shareef, @abdul-hai-apisec - please let me know if these issues are updated?

[2022-08-15 18:36] intesar opened #127 "[Bug]: ADoS didn't pick this param"
### Severity

Medium

### What happened?

"/api/v1/roles" : {
      "get" : {
        "parameters" : [ {
          "description" : "Number of results to return",
          "in" : "query",
          "name" : "$limit",
          "required" : false,
          "schema" : {
            "type" : "integer"
          }
        }

- [ ] $limit
- [ ] numberOfResults
- [ ] max
- [ ] maxMessages (Starting max

[2022-08-15 22:32] intesar opened #128 "[Bug]: Project lists - provide more space for the name column"
### Severity

Medium

### What happened?

Checkout the screenshots

<img width="1409" alt="Screen Shot 2022-08-15 at 3 30 34 PM" src="https://user-images.githubusercontent.com/990419/184731998-7723afac-71eb-4aea-ac6f-bff11a923ad7.png">

[2022-08-16 04:36] atef-aa commented on #127
@Mohammed-Luqman-Shareef - Please assign this to a developer to investigate

[2022-08-16 05:15] atef-aa commented on #128
@MuqeedA - Assigning this ticket to you.

[2022-08-16 05:30] atef-aa commented on #126
This ticket is related to UX.

The Score field appears when the Custom option is selected from the Vulnerability Scoring, and it appears in the description area.  However, the two fields below Vulnerability Scores are larger in size based on the value those hold.

We can resize those fields upon selecting Custom and make Score appear as a 3rd option.
Any thoughts?

[2022-08-16 05:35] atef-aa commented on #125
@Abedeen1 - please look into this ticket.

[2022-08-16 05:36] habeebvulla commented on #123
Model retrained. Marked as FP by AI

[2022-08-16 10:21] muqeetkhan20 commented on #119
@intesar we have already raised this bug on @apisec-inc/engineering board.
https://github.com/apisec-inc/Engineering/issues/281

@MuqeedA please duplicate any one ticket.

[2022-08-16 10:40] Mohammed-Luqman-Shareef commented on #113
@MuqeedA

Pls add this below help text for the 'Customized Header' text fields on all pages

 Get:/api/users[Accept: application/json,Content-Type: application/json]

 *:/api/users[Key: Value] - Applied to all the methods on this endpoint
 :/api/users[Key: Value] - Applied to all the methods on this endpoint

 Post:/**[Key: Value] - Applied to Post method on all endpoints
 Post:[Key: Value] - Appl

[2022-08-17 05:05] atef-aa commented on #123
Thanks @habeebvulla.  Will this be deployed to PROD this week or next?

[2022-08-17 05:07] habeebvulla commented on #123
This week .

On Wed, Aug 17, 2022 at 10:36 AM atef-aa ***@***.***> wrote:

--
Dr. Mohammed Habeeb Vulla
Principal AI Engineer
APISec,

[2022-08-17 05:07] atef-aa commented on #114
@Mohammed-Luqman-Shareef - please have a developer check on this.

[2022-08-17 05:14] atef-aa commented on #124
@Mohammed-Luqman-Shareef - I believe this is an existing functionality that we need to validate, please let me know otherwise.

[2022-08-17 05:44] shahidabdul commented on #126
![image](https://user-images.githubusercontent.com/87168421/185043534-786258eb-bc87-424a-a562-c6a14677ddf5.png)

[2022-08-17 05:45] shahidabdul commented on #128
![image](https://user-images.githubusercontent.com/87168421/185043639-dbb1f9e8-72b4-4176-8e75-c50a5519a131.png)

[2022-08-17 09:00] shamiulla-apisec commented on #120
Fixed the bug and checked in the code to repo.
@muqeetkhan20 Please check and let us know if you find any issues with it.

[2022-08-17 13:43] SuddenDevelopment commented on #113
confirmed to work in prod :)

[2022-08-17 15:14] atef-aa commented on #126
@shahidabdul - Currently, the 'Score' field is appearing when Custom is selected, what will happen to the Score field if Custom is not selected?

[2022-08-17 17:59] Mohammed-Luqman-Shareef commented on #114
https://api-przedszkola.backendowo.com/v1/subscriptions/decline/12345
In this url the value 12345 was evaluated from the Variable.   I guess the endpoint in the playbook was /v1/subscriptions/decline/{{@Var.id}}
This is by design to replace the path params with @Var in the playbooks generated, so that the user can set the value from the UI page once and that gets reflected in all playbook executio

[2022-08-17 17:59] shahidabdul commented on #126
@Atef Ahmed ***@***.***> -  Only 'Score' field be there as below

[image: image.png]

On Wed, Aug 17, 2022 at 8:44 PM atef-aa ***@***.***> wrote:

[2022-08-17 22:54] dave-apisec opened #129 "[Bug]: Long variable value not able to be saved"
### Severity

Blocker

### What happened?

Working on a project where a long encoded value needs to be inserted into the path.

I ran into this issue when modifying "Variables" as well as when adding it to a path directly in "Payloads" product areas.

Reproduction steps:
1. Navigate to an API Project, to the Configurations > Environments > Variables area
2. Create a new variable and provide a vali

[2022-08-17 22:55] dave-apisec commented on #129
cc: @intesar

[2022-08-18 12:09] fersy02 opened #130 "[Bug]: Invalid Assertion Error"
### Severity

Medium

### What happened?

The following syntax throws an error when the condition appears first:
@ResponseHeaders.Access-Control-Allow-Credentials !=~ (vulnerable)
![image](https://user-images.githubusercontent.com/47815523/185389212-182cea9b-7280-46a0-a81a-ccb8e48aa5bb.png)

Due to the invalid assertion error, all playbooks are failing and resulting in increased vulnerabilities th

[2022-08-18 14:52] atef-aa commented on #129
@Mohammed-Luqman-Shareef:  The number of characters Dave used above is 375.  We can make it 512, or we can increase it more.  Please assign this to a developer.

The following needs to be update:
- The field length on the UI
- Validate the field-size that it is getting updated in the backend
- The wording for the error message needs to be improved.
   - Actual: Resource name or key already exists.

[2022-08-19 05:50] MaimoonaFatima commented on #120
@shamiulla-apisec We have found issues, let's discuss on the call.

[2022-08-19 05:51] shamiulla-apisec commented on #120
Sure

[2022-08-19 06:12] Mohammed-Luqman-Shareef commented on #117
Fixed. This variable will be replaced by {{@Random}}, since this path variable is not in the spec, there is no info on the type of the data and default value.

[2022-08-19 06:17] Mohammed-Luqman-Shareef commented on #127
Added these fields for ADoS.

A new AI module will be developed to identify the ADoS parameters.

[2022-08-19 06:22] Mohammed-Luqman-Shareef commented on #124
Fixed it.  It will be replaced by a random value.
For delete endpoints IDs are not mapped to variables, because the variable value is used as common value for all the playbooks and if the same id is used in delete playbook, this value can't be used anymore.  To avoid this issue for Delete playbook variable is not mapped in the playbooks while generating them.

[2022-08-19 10:03] Rahman-1234 commented on #112
Hi , @AtifaFahmeen , @SuddenDevelopment
Tested in developer environment , usernames are no more case sensitive
this should be available in next prod refresh

[2022-08-19 10:08] Rahman-1234 commented on #128
Verified in dev, API name has enough space

[2022-08-19 11:10] MuqeedA commented on #121
URL validation added  on Env edit, project dashboard, and Playbook pages (on UI).
The same logic has to be implemented in backend code as well for the scheduled profiles.

[2022-08-19 16:14] intesar opened #131 "[Bug]: Playbooks not being generated for the given OAS URL"
### Severity

Medium

### What happened?

Here is the API
https://bpsapi.addon.com.np/v2/api-docs

<img width="1524" alt="Screen Shot 2022-08-19 at 9 13 43 AM" src="https://user-images.githubusercontent.com/990419/185662100-773405b7-b850-4c31-96bd-98ac88609959.png">

[2022-08-21 12:56] Abedeen1 commented on #101
No Response, leaving ticket.

[2022-08-21 12:59] Abedeen1 commented on #125
@Mohammed-Luqman-Shareef Sir,

Could you please provide directions on " Collections can have the same name across other workspaces. Registering a collection from one workspace disables selecting the same name collection from other workspaces"

[2022-08-22 05:42] Mohammed-Luqman-Shareef commented on #125
@Abedeen1 As discussed in the call today, while registering the API prefix the workspace name to differentiate.  Take couple of Postman collections with similar api names in different workspaces.  If you dont get any such example already, you can edit the collection and rename the APIs to reproduce the scenario.

@atef-aa can you pls help get Postman collections with such scenario.

[2022-08-22 10:55] muqeetkhan20 commented on #101
@Abedeen1 not sure if i missed to see your request.
@MaimoonaFatima could you please provide azure creds to abedeen.

[2022-08-22 11:08] AkaramAli commented on #129
Environment -> Variable -> value field length increased and we are able to save the string provided in the ticket . Backend changes pushed and available in dev .
@Mohammed-Luqman-Shareef  - Could you assign some one from UI team to take care of UI changes .

![image](https://user-images.githubusercontent.com/89961027/185907032-b9d4b9b3-aa50-401b-a434-cf96b0b65be8.png)

[2022-08-22 12:30] MaimoonaFatima commented on #101
I don't have azure credentials.

[2022-08-22 12:33] mohdrashid1 commented on #101
@Abedeen1 bhai you already have Azure Portal Access see SS
![image](https://user-images.githubusercontent.com/59992299/185922126-ffa32fcc-e81d-4186-8c7b-3edcddeceaf4.png)

[2022-08-22 12:44] Abedeen1 commented on #101
@mohdrashid1 ,
azure is asking credit card. for me to aceess api gateway.

![image](https://user-images.githubusercontent.com/87793504/185923891-4fcfa89c-be44-435c-82ec-5a7ed65e053a.png)

[2022-08-22 13:42] mohdrashid1 commented on #101
![image](https://user-images.githubusercontent.com/59992299/185935197-65b2b42d-bfb8-4ff0-9cda-8092d85812ff.png)

Got all details to register in Azure API Gateway

[2022-08-22 14:11] Abedeen1 commented on #101
Thanks! Got the info.

[2022-08-22 19:05] atef-aa commented on #131
@SyedsImran - Please check the logs for this.  I ran the URL in the browser and did return the swagger API.

[2022-08-23 05:03] atef-aa commented on #129
The value should be displayed in a single line and with whatever characters can be fit, and end it with ellipses (3 dots). There should be an at least 2 spaces before the Scope and ellipses.  Please let me know if you have questions.

[2022-08-23 05:39] shamiulla-apisec commented on #129
@atef-aa :
When the column is accommodated with 25 characters then it looks like below:

<img width="755" alt="image" src="https://user-images.githubusercontent.com/87168081/186078212-df873f54-5b67-4f11-89d8-c899b2dd6314.png">

When the column is accommodated with 5 characters to maintain the consistency with other values of the same column then it looks like below:

<img width="770" alt="image" s

[2022-08-23 09:53] abdul-hai-apisec commented on #131
@Mohammed-Luqman-Shareef - Its a huge spec with 25k lines, We are getting Out-of-Memory error while generating playbooks, specifically while formatting the JSON to String.
![image](https://user-images.githubusercontent.com/83706991/186128788-7e05b997-29f6-47a5-8518-bc692171a4cd.png)

[2022-08-24 04:00] atef-aa commented on #131
@abdul-hai-apisec Thanks for the update. This will close and go in the backlog for now.

[2022-08-24 04:00] #131 closed

[2022-08-24 11:00] Rahman-1234 commented on #123
Verified by @habeebvulla  it is working
QE unable to verify since Ai-Bot vm is in stopped state due to billing issue

[2022-08-24 11:00] #123 closed

[2022-08-24 11:05] Rahman-1234 commented on #113
Verified in prod

[2022-08-24 11:05] #113 closed

[2022-08-24 11:08] Rahman-1234 commented on #112
Tested in prod , username is no more case sensitive

[2022-08-24 11:15] muqeetkhan20 commented on #128
@shahidabdul
closing ticket
We can go for another iteration, space can be still reduced after owner name.
![image](https://user-images.githubusercontent.com/68276700/186404851-1c028890-6f01-4967-b3ec-6470695e05db.png)

[2022-08-24 11:15] #128 closed

[2022-08-24 11:33] Rahman-1234 commented on #124
verified in prod

[2022-08-24 11:33] #124 closed

[2022-08-24 11:38] Rahman-1234 commented on #121
@MuqeedA  did we implement the backend code?

[2022-08-24 12:43] MuqeedA commented on #121
Not yet.

[2022-08-24 13:20] atef-aa commented on #128
While reducing the space between Owners and Created Date columns, we need to consider people who have long names. Maybe a little be of space reduction but not a lot.

[2022-08-24 13:50] #127 closed

[2022-08-24 13:50] #116 closed

[2022-08-24 14:09] Rahman-1234 commented on #121
@Mohammed-Luqman-Shareef b
removing QA tag since backend implementation is pending

[2022-08-24 14:18] amer-apisec commented on #119
verified in prod, Working

[2022-08-24 14:18] #119 closed

[2022-08-24 15:07] Abedeen1 opened #132 "Collections can have the same name across other workspaces. Registering a collection from one workspace disables selecting the same name collection from other workspaces"

[2022-08-25 05:05] muqeetkhan20 commented on #129
trimming is also fixed, but it will be available in prod in next refresh.
closing this ticket

[2022-08-25 05:05] #129 closed

[2022-08-25 05:08] #120 closed

[2022-08-25 05:10] muqeetkhan20 commented on #117
@Mohammed-Luqman-Shareef can you provide us the spec to test? or should we close the ticket? unable to reproduce in NB.

[2022-08-25 10:32] MaimoonaFatima commented on #132
verified in dev, working fine.

[2022-08-25 10:47] MaimoonaFatima commented on #101
- [ ]  If we are giving invalid credentials, getting the below errors for software AG webmethods.io and WSO2 Gateways.
![image](https://user-images.githubusercontent.com/72252407/186644147-949d2dc7-3f16-4fef-b5b1-4d4816f7cfe3.png)
![image](https://user-images.githubusercontent.com/72252407/186644338-4c9fa229-da7a-4874-b6fe-b836423c752c.png)

- [ ] WSO2
![image](https://user-images.githubuserconten

[2022-08-25 10:55] Rahman-1234 commented on #130
verified in prod

[2022-08-25 10:55] #130 closed

[2022-08-25 11:15] MaimoonaFatima commented on #101
As we have few more message improvements, removing QA tag

[2022-08-25 17:00] shamiulla-apisec commented on #129
@muqeetkhan20 : As requested to increase the text to accommodate the empty space so improved its visibility from 5 characters to 25 characters.

[2022-08-26 05:08] habeebvulla commented on #122
status code 500 is not falls into AI category

[2022-08-26 05:08] #122 closed

[2022-08-26 05:09] habeebvulla commented on #118
similar status code 500

[2022-08-26 05:09] #118 closed

[2022-08-26 05:12] habeebvulla commented on #115
updated

[2022-08-26 05:12] #115 closed

[2022-08-28 05:02] fersy02 opened #133 "[Bug]: Restrict users from running a scan on an offline scanner"
### Severity

Medium

### What happened?

Restrict users from running a scan on an offline scanner to avoid time-out errors.
![image](https://user-images.githubusercontent.com/47815523/187058325-3a51a39c-b013-4700-94f4-eca6c74237a8.png)

Current Behavior:
![image](https://user-images.githubusercontent.com/47815523/187058256-6161fc26-41ce-4665-8a21-37605a89bd71.png)

Expected Behavior:
The Submit b

[2022-08-29 11:24] Abedeen1 commented on #121
@Rahman-1234 , Could you please validate backend.

[2022-08-29 11:27] Abedeen1 commented on #125
@Mohammed-Luqman-Shareef Sir,

Changes implemented as mentioned above.

[2022-08-29 16:56] SuddenDevelopment opened #134 "[Bug]: Invalid Assertion evaluation for 'null'"
### Severity

Blocker

### What happened?

Project = SecurityCategories

corsNullOrigin_dail endpoint should fail against cors Config Null Origin category

see the assertion eval
Assertion [@ResponseHeaders.Access-Control-Allow-Origin != null] resolved-to [null != null] result [Passed]

**Updated: August 31**

Here are some more examples of @Empty and @Null issues

03:25:43 [I] [   AAPSDE2] : Asse

[2022-08-29 17:42] SuddenDevelopment opened #135 "[Bug]: Invalid Assertion for Regex match"
### Severity

Blocker

### What happened?

project = Security Categories

category = cors Config regex reflection

@ResponseHeaders.Access-Control-Allow-Origin !=~ (vulnerable) should fail on the regexReflection_fail endpoint

it's not matching regex (vulnerable) to `vulnerable.something.com`

happy to walk someone through it, we have a good way to test it

[2022-08-29 17:45] SuddenDevelopment commented on #134
it's confusing the null type with null string

[2022-08-30 03:57] fersy02 opened #136 "[Bug]: Multiple reports sent on triggering a scan"
### Severity

Blocker

### What happened?

A client has reported receiving multiple reports when triggering a scan via Jenkins Integration.
I tried creating a new project and verified the issue is reproducible in the newly created project.

![image](https://user-images.githubusercontent.com/47815523/187345402-9f468bf6-dd6c-4fe3-9efc-d154c40df6ec.png)

Emailed all the details to @Mohammed-Luqman-Sh

[2022-08-30 04:15] fersy02 opened #137 "[Bug]: Jenkins Script fails for a Project name with empty spaces"
### Severity

Medium

### What happened?

Jenkins script is auto-generated and displays the project name without double quotes. A client has reported the following error:
{"requestId":"None","requestTime":"2022-08-30T03:59:41.352+0000","errors":true,"messages":[{"type":"ERROR","key":null,"value":"Scan not found"}],"data":null,"totalPages":0,"totalElements":0}

When I realized the project name had

[2022-08-30 06:39] Mohammed-Luqman-Shareef commented on #134
I'm looking into it.

[2022-08-30 07:23] fersy02 opened #138 "[Bug]: Unable to invite Guest Users"
### Severity

Blocker

### What happened?

Unable to invite a guest user as the Invite User button is inactive on the Users, Add Guest User Page.

![image](https://user-images.githubusercontent.com/47815523/187374488-05899099-5d8e-4564-a1aa-de9061d8440c.png)

Steps to reproduce:

1. Log into a tenant
2. Click on your name in the top right corner
3. Select Users and click Add Guest User
4. Add a va

[2022-08-30 09:15] asifadn9 commented on #132
verified in Prod, working fine.

[2022-08-30 09:19] asifadn9 commented on #101
verified in Prod, working fine.

[2022-08-31 04:58] fersy02 commented on #136
@atef-aa - Appreciate it if you have any updates on this ticket.

[2022-08-31 05:01] abdul-hai-apisec commented on #136
@fersy02 - We are analyzing the issue, and trying to reproduce the same in the development environment.

[2022-08-31 05:12] fersy02 commented on #136
Thanks for the update @abdul-hai-apisec

Since the issue is specific to this tenant and not reproducible in other tenants of Prod, it might not be reproducible in Dev too. In fact, when I first registered the new project, this issue was not reproducible. It could be the configurations that are resulting in sending multiple emails. Let us know if you need any help in debugging the issue.

[2022-08-31 05:23] AkaramAli commented on #137
I am looking into it .

[2022-08-31 05:28] Rahman-1234 commented on #121
@Abedeen1 b,
base url validation is not working on creating new environment
though is working fine when we update existing environment

[2022-08-31 05:41] Abedeen1 commented on #121
@Rahman-1234 bhai,

Could you please validate now.

[2022-08-31 05:54] #101 closed

[2022-08-31 05:55] #132 closed

[2022-08-31 07:11] AkaramAli commented on #137
@fersy02  - Documentation updated and changes pushed  . Should be available in next prod refresh .

cc @MuqeedA

[2022-08-31 08:02] Mohammed-Luqman-Shareef commented on #134
Fixed.  Can be tested by creating a new scanner.  All the scanners will be refreshed with latest code with next regular prod refresh.

[2022-08-31 08:03] Mohammed-Luqman-Shareef commented on #135
@SuddenDevelopment Lets discuss over a call. You can walk me through it.

[2022-08-31 11:13] Rahman-1234 commented on #121
@intesar @Abedeen1
It is working fine in dev environment
will close the ticket once it is available in the prod

[2022-08-31 16:53] atef-aa commented on #134
Added @Empty and @Null issues with examples in the description.

[2022-09-01 04:39] fersy02 opened #139 "[Bug]: Service Unavailable Error Upon User Login"
### Severity

Blocker

### What happened?

One of our clients has reported that he cannot log into the tenant with his existing credentials and receiving a **Service Unavailable** error.
![image](https://user-images.githubusercontent.com/47815523/187831157-c3f4609d-fbe7-43fc-b8bd-57401c8636a8.png)

The User status is active.
![image](https://user-images.githubusercontent.com/47815523/187832136-76a

[2022-09-01 05:15] MaimoonaFatima commented on #138
verified in dev, working fine

[2022-09-01 06:24] Mohammed-Luqman-Shareef commented on #139
There are two users in this org with the same email, one with all lower case and another one with camel case.
We will restrict creating multiple users with the same email in the system.
For now, we need to disable one of them to make the other work.

![image](https://user-images.githubusercontent.com/87166065/187845947-e8285fb1-e66b-4998-9b17-32fe75e07878.png)
![image](https://user-images.githubus

[2022-09-01 06:47] fersy02 commented on #139
Thanks for the update @Mohammed-Luqman-Shareef. I have deactivated the duplicate user account and still facing the same issue.

[2022-09-01 10:25] fersy02 opened #140 "[Bug]: Restrict users from creating a user account with an existing email"
### Severity

Blocker

### What happened?

Currently, the email and organization name used to log into APIsec are case-sensitive. This behavior allows the creation of users with an existing email, provided the case is different. We recently encountered a Service Unavailable error on the login screen where a duplicate email exists.

Please ensure unique email addresses are accepted for account crea

[2022-09-01 16:02] SuddenDevelopment commented on #135
resolved: It was not evaluating as true for a partial match.

need to make it a complete match to eval as true: (.*)(searchforme)(.*)

[2022-09-01 16:02] #135 closed

[2022-09-01 20:04] atef-aa opened #141 "IQT Review"
Please review the items assigned to you and plan accordingly. Please let me know if you have any questions.

- [x] IQT needs to make sure the APIsec production installation was successful. They're planning to do their testing. I don't recommend that approach, instead, we provide them with a short sanity test guide and publish it in the knowledgebase section here [https://docs.apisec.ai/.](https://

[2022-09-02 05:13] Mohammed-Luqman-Shareef commented on #139
@fersy02 You can close this ticket now.

[2022-09-05 03:02] fersy02 opened #142 "[Bug]: Missing Assertions in the Wire logs of Developer Report"
### Severity

Blocker

### What happened?

A client has reported that the Developer report shared with their development teams to fix the vulnerabilities does not include assertions to set the expectations.
![image](https://user-images.githubusercontent.com/47815523/188352697-a22e4600-d3ab-4abc-b8a6-6af769800247.png)

This client cannot onboard all thousands of developers in APIsec to review the v

[2022-09-05 03:31] SyedsImran commented on #141
Netbanking Application to be deployed in docker-swarm cluster is ready.

https://github.com/apisec-inc/On-Prem/tree/main/Netbanking

[2022-09-05 04:43] fersy02 commented on #139
Published a write-up in the troubleshooting section.
https://docs.apisec.ai/UserLoginServiceUnavailable.md

[2022-09-05 04:43] #139 closed

[2022-09-05 16:10] SyedsImran commented on #141
Added Netbanking installation guide to docs repo.
https://github.com/apisec-inc/documentation/blob/main/docs/Netbanking.md

[2022-09-06 10:41] asifadn9 commented on #142
Verified in dev , working fine.

[2022-09-06 16:48] muqeetkhan20 commented on #141
@intesar @atef-aa here we go with the short test guide.
https://docs.apisec.ai/Testguide/

[2022-09-06 19:09] dave-apisec opened #143 "[Bug]: Wire Logs do not obfuscate @Vault auth header values"
### Severity

Blocker

### What happened?

Customers store valuable keys in the Vault, and the platform won't show back these keys to the user once saved:

![Screen Shot 2022-09-02 at 12 40 53 PM](https://user-images.githubusercontent.com/104801249/188717431-94bfe9e7-3f1c-4a85-a749-a66f44b9f0c8.png)

When you use the Vault value in a token auth credential like this:

![Screen Shot 2022-09-02 at 12

[2022-09-07 02:59] fersy02 opened #144 "[Bug]: POST Migration Unable to login to APIsec via OKTA SSO"
### Severity

Blocker

### What happened?

One of our clients who enabled OKTA SSO is experiencing login issues and cannot access their accounts.

@abdul-hai-apisec, please recommend how to unblock them.

[2022-09-07 03:44] abdul-hai-apisec commented on #144
I have already raised a request with OKTA to update our production url.
_**Okta has received your support request! Case Number 01499266. ref:_00DA0KWYD._5004z1fvKOW:ref**_

Till the issue is resolved, you can provide them with guest user credentials to login to there organization.

[2022-09-07 04:23] fersy02 commented on #144
Thanks for the update @abdul-hai-apisec. We have already shared a couple of Service Accounts.

Is there an ETA from OKTA for updating the URL?

[2022-09-07 10:42] abdul-hai-apisec commented on #144
@fersy02, We are following up closely with the OKTA support team, and they have notified the application team to expedite the request. We have not received any ETA yet. I will keep you posted as soon as i have more information.

[2022-09-07 11:53] abdul-hai-apisec commented on #144
@fersy02, OKTA has published our APIsec app with the latest URL, Please check and let me know if the customers are still facing the issue.

_**The endpoints have been updated automatically for all application instances in Okta. Customers don’t need to make any actions.**_

[2022-09-07 15:56] Rahman-1234 commented on #138
verified working in prod

[2022-09-07 15:58] Rahman-1234 commented on #121
verified working in prod

[2022-09-07 15:58] #121 closed

[2022-09-07 16:01] Rahman-1234 commented on #133
verified working in prod

[2022-09-07 16:01] #133 closed

[2022-09-07 16:04] #117 closed

[2022-09-07 16:30] fersy02 commented on #144
Thanks @abdul-hai-apisec

I received confirmation that everything is working fine now.

[2022-09-07 16:30] #144 closed

[2022-09-07 16:44] fersy02 opened #145 "[Bug]: Unable to refer header values in the path"
### Severity

Medium

### What happened?

One of the prospects API requires HMAC authentication in the query parameters:

![image](https://user-images.githubusercontent.com/47815523/188932758-0932f573-2d03-4339-ba0e-a6ee0996b6e5.png)

The script fails to compute and substitute the header values in the query parameters but works well in the request body:
![image](https://user-images.githubuserconte

[2022-09-07 18:15] fersy02 opened #146 "[Bug]: Playbooks fail to generate with schema references to files & URLs"
### Severity

Medium

### What happened?

OpenAPI Specification containing references of files or URLs fails to discover endpoints. As a result, playbooks fail to generate.
If the schema contains references to external files or URLs, this shall be ignored, and the playbook generation should complete.

Shared the OAS with @Mohammed-Luqman-Shareef to reproduce this issue.

[2022-09-08 06:28] MaimoonaFatima commented on #142
verified in prod.

[2022-09-08 06:28] #142 closed

[2022-09-08 07:08] #134 closed

[2022-09-08 08:53] Mohammed-Luqman-Shareef commented on #145
Fixed

[2022-09-08 19:20] dave-apisec commented on #143
This is out of scope as a bug ticket

[2022-09-08 19:20] #143 closed

[2022-09-09 05:54] fersy02 commented on #136
@Mohammed-Luqman-Shareef @abdul-hai-apisec
Any updates on this ticket?
The client is chasing us for an immediate resolution. Please prioritize it.

[2022-09-09 12:15] fersy02 opened #147 "[Bug]: All Scanners go offline frequently"
### Severity

Blocker

### What happened?

We have been experiencing this issue or reported by the clients that all scanners stop working. The last time it happened was on Sep 07, 2022 around 12:00 PM(noon) IST.

Please investigate and add a story to rectify the problem and make them resilient to auto-recover.

[2022-09-09 12:29] fersy02 opened #148 "[Bug]: Cannot reload OAS via URL behind a Firewall"
### Severity

Medium

### What happened?

One of our clients has reported that they cannot reload spec since the prod migration and getting an error:
![image](https://user-images.githubusercontent.com/47815523/189349173-ed6ee528-2689-4e83-85b4-43a17f702d49.png)

I have ensured the client has whitelisted the prod cluster IP: 104.196.107.163

Whitelisting of the Prod IP worked well until we migrated

[2022-09-09 14:22] MaimoonaFatima commented on #140
Verified in dev, working fine.

[2022-09-09 14:24] asifadn9 commented on #137
Verified in dev and Prod, working fine.

[2022-09-09 15:34] Fl3xappeal opened #149 "[Bug]: Base URL *must* be a .com variation"
### Severity

Blocker

### What happened?

I have a valid base url that does not end in a .com, .org, .etc . I am unable to configure APISec scans because "invalid base URL" even though Postman/cURL works.

My URL is something like http://example01:8080/<Swagger Endpoints here> . There is no .com.

[2022-09-09 15:59] MaimoonaFatima commented on #125
verified in dev, working fine

[2022-09-09 17:21] atef-aa commented on #125
@AkaramAli - what about the scale scenario in the description.. Has it been validated for 1000 collections?

[2022-09-09 18:30] atef-aa commented on #149
@abdul-hai-apisec - please look into this.

[2022-09-09 18:30] atef-aa commented on #149
@Fl3xappeal - On which application are you trying this, ethicalcheck.dev or cloud.apisec.ai?

[2022-09-09 18:45] atef-aa commented on #147
@SyedsImran - please check what's causing this.

[2022-09-09 18:48] Fl3xappeal commented on #149
Cloud.apisec.ai

On Fri, Sep 9, 2022, 1:30 PM atef-aa ***@***.***> wrote:

[2022-09-09 19:03] atef-aa commented on #149
Okay. Also, can you please provide the exact URL?

[2022-09-09 19:05] SyedsImran commented on #148
I was able to reproduce the error, see below screenshot for reference.
In below screenshot case, I have disabled port 8080 of Netbanking app and tried to reload the spec.

I think in the client case either they application is down or ports 80,443 are not exposed.

![image](https://user-images.githubusercontent.com/100760767/189424993-0ad8f32e-5545-4f04-b9b5-52c80eea5b75.png)

[2022-09-09 19:29] Fl3xappeal commented on #149
What is email so I can send screenshot and URL details? (I have already emailed to Feroz).

I would rather not post publicly.

The URL essentially is http://myhost:1337/

Interacting with it via cURL/Postman is http://myhost:1337/api/DoThis or http://myhost:1337/api/OrDoThis

[2022-09-12 03:42] fersy02 commented on #149
I've shared Screenshots with the Engineering team.

[2022-09-12 07:02] AkaramAli commented on #125
@atef-aa , There is another ticket on similar lines https://github.com/apisec-inc/QR/issues/15.
Regarding scaling - We tested the performance for 100 + APIs/Collections  it takes ~ 2 seconds .

[2022-09-12 11:31] #137 closed

[2022-09-12 12:19] atef-aa commented on #125
Great, thanks for the update @AkaramAli!

[2022-09-12 16:51] #140 closed

[2022-09-12 16:52] #125 closed

[2022-09-12 17:17] fersy02 commented on #148
@SyedsImran, Thanks for looking into this issue.

I have checked the configurations, and I could see port 443 is exposed and the URL is working.
The URL works fine when I use a playbook to execute it with an on-premises scanner.

The error is the same, but the issue is not with the availability or 443 not exposed.

[2022-09-12 17:40] fersy02 opened #150 "[Bug]: JIRA Integration fails to file vulnerabilities"
### Severity

Blocker

### What happened?

One of our clients has reported that upon sync vulnerabilities task, they get the following error:
![image](https://user-images.githubusercontent.com/47815523/189716530-30361ba4-7be4-4cbc-8e94-b18fa0677cbc.png)

Tested it locally and found the issue is persistent in new projects within the APIsec Organization.

Steps to reproduce:
1. Add JIRA credentials

[2022-09-12 19:28] fersy02 opened #151 "[Bug]: Reducing the CVSS Score below 3.9 doesn't impact the severity"
### Severity

Blocker

### What happened?

Per the CVSS Severity ratings, reducing the score to 3.9 or lower should reduce the severity to Low. However, it has been noticed that reducing the CVSS score below 3.9 is still filing the vulnerabilities with Medium severity instead of Low.
![image](https://user-images.githubusercontent.com/47815523/189737692-7908f6b9-d289-4738-81cb-df06eb1f728c.png)

Se

[2022-09-13 04:24] atef-aa commented on #147
@fersy02 - Since opening this ticket, did we experience any more scanners going down?  How many clients have reported this?

@SyedsImran - were you able to identify the reason for these going down?  These scanners shouldn't be going down and have the capability to reconnect themselves.

[2022-09-13 04:27] fersy02 commented on #147
Yes, we experienced the issue on September 12. @Abid60 was supposed to send an email and update this ticket.

[2022-09-13 05:40] abdul-hai-apisec commented on #136
The fix did not resolve this issue yet. We are continuously working on it but as there are no  errors in the logs and also the issue is not reproducible in any other organization/environment. We have to wait till the prod refresh to validate if our fix works.

@fersy02, Is it possible to clone this on our development environment to reduce the validation cycle.

[2022-09-13 07:06] muqeetkhan20 commented on #150
@Mohammed-Luqman-Shareef i have verified this. The issues are getting logged in Jira but the issue Ids are not generating and scan history numbers are showing zero.

This issue use to reproduce frequently in the year 2021. We use to resolve this by refreshing the scanners or VC-Git control plane and later we had a permanent fix.

I think we can try this out and it should fix this bug.

Thanks,

[2022-09-13 07:13] muqeetkhan20 commented on #145
@Mohammed-Luqman-Shareef could you please share the specs? Unable to reproduce in NB app.

@fersy02 if your team have tested this already; we can close this bug...

[2022-09-13 08:36] fersy02 commented on #150
@muqeetkhan20 - Tickets are failing to log in customer's environment, and I've observed the same error in one of the NetBanking projects in the APIsec organization. What's QA doing differently to make it work, or what's missing in the configuration steps mentioned above?

Please share the project names in APIsec and JIRA to review the configurations and ensure the documentation is up to date.

[2022-09-13 09:32] Afra-APIsec commented on #147
Experienced the issue once again at 3 pm. The scanners turned to Stop State.

[2022-09-13 11:28] muqeetkhan20 commented on #150
@fersy02 nothing different, the process remains the same as what you have followed.
Tickets are logging in Jira though the issue Ids are not generating and throwing an error on clicking sync.

Can you try to login into Jira and verify the kanban board.

[2022-09-13 13:07] fersy02 commented on #148
@Mohammed-Luqman-Shareef @atef-aa
Appreciate any updates on this issue as the client is chasing us for a fix. Please remember the reload spec worked before migrating to Kubernetes.

[2022-09-13 15:25] SuddenDevelopment opened #152 "[Bug]: Playbooks not creating for new category"
### Severity

Blocker

### What happened?

I created a category "TLS Headers"

But I cant see any playbooks created with it. So Iwent to bulk create them. and got this error
<img width="1648" alt="Screen Shot 2022-09-13 at 11 14 23 AM" src="https://user-images.githubusercontent.com/138704/189942149-baae510b-93b3-4e5e-8748-8e9a6c0e98bb.png">
<img width="1604" alt="Screen Shot 2022-09-13 at 11 20 44

[2022-09-13 16:25] SuddenDevelopment commented on #152
I think this might be because the hosted API is down:
http://20.109.174.18:3000/v3/api-docs

[2022-09-13 18:33] SyedsImran commented on #152
check with this url http://35.243.238.46:3000/v3/api-docs

That one(http://20.109.174.18:3000/v3/api-docs) is no more because azure subscription issue.

[2022-09-13 21:28] #141 closed

[2022-09-14 03:06] atef-aa commented on #148
@SyedsImran please look what's causing this and expedite.

[2022-09-14 03:26] fersy02 commented on #136
@abdul-hai-apisec, let's give it a try.
@Afra-APIsec will send you the details required to register and configure the project.

[2022-09-14 03:38] Afra-APIsec commented on #136
@fersy02 @abdul-hai-apisec -Sure, Sending the details via email.

[2022-09-14 03:52] fersy02 opened #153 "[Bug]: Adding a new user task in inactive in one of the tenant"
### Severity

Medium

### What happened?

An Administrator of one of the organizations is trying to add a new user to their org and found the task is inactive.
![InactiveNewUserTask](https://user-images.githubusercontent.com/47815523/190055390-3e67b3a3-f209-4010-8ae9-17db8bdde681.png)

I have checked it by logging into the tenant and found that the **+New User** and **+New User (bulk)** are inacti

[2022-09-14 05:29] MuqeedA commented on #153
Adding **new user feature** from APIsec is disabled for Okta-enabled tenants.

[2022-09-14 05:48] SyedsImran commented on #147
We have collaborated with engineering team yesterday, some of the scanners may be failing because of load on them.
So deployed the scanners with multiple replicas on heavily used scanners (Super1, Super2 & Super3).
We will observe they behaviour and if this fixes the issue, we  will implement the same for others as well.

[2022-09-14 08:26] mmuqtaar commented on #151
@fersy02 As per instruction, we are not setting it to low tag. We have only Critical, High & Medium Tags.

[2022-09-14 10:21] fersy02 commented on #153
@MuqeedA - The same should be disallowed from the APIsec organization.

[2022-09-14 13:11] Afra-APIsec commented on #148
@SyedsImran, Issue still exists, but now receiving the error message, "Transaction silently rolled back".

[2022-09-14 15:24] atef-aa commented on #151
@fersy02 - removing the blocker tag as this is not blocking a behavior. This should be picked up by the next available engineer.

[2022-09-14 16:07] dave-apisec opened #154 "[Bug]: Update CI/CD shell scripts in Integrations Configuration to pull the newest script"
### Severity

Medium

### What happened?

Jenkins Instructions pulls this script: https://raw.githubusercontent.com/apisec-inc/apisec-scripts/master/apisec_job_invoke_script.sh

All of the rest pull this script, which doesn't work as expected:  https://raw.githubusercontent.com/intesar/FX-Scripts/master/fx_job_invoke_script.sh

Please update for consistency and for customers looking to integrate b

[2022-09-14 16:24] SyedsImran commented on #148
@Afra-APIsec How's that error message impacting us?
Are playbooks not regenerating at all or some are regenerating while others throw are not.
what's happening?

[2022-09-14 16:24] SuddenDevelopment commented on #152
api is now on
http://security-categories.apisec.ai/
I remapped everything to that and it solved my issue.

[2022-09-14 16:24] #152 closed

[2022-09-14 16:44] Afra-APIsec commented on #148
@SyedsImran the spec reload functionality is not working.
hence, the playbooks are not getting regenerated.

[2022-09-14 19:24] zafar0506 commented on #146
@fersy02  Could you please provide OpenAPI Specification containing references of files or URLs.

[2022-09-14 20:44] SuddenDevelopment opened #155 "[Bug]: only one custom header is accepted from customer headers"
### Severity

Blocker

### What happened?

we had 2 custom headers:

only one was making it into playbooks.

once it was reduced to one header it worked fine.

we need to support multiple custom headers again

[2022-09-15 03:57] fersy02 commented on #146
@zafar0506, I have already shared the details with @Mohammed-Luqman-Shareef,  as stated in the description above.
Forwarding the email to you right away.

[2022-09-15 04:58] fersy02 commented on #151
@atef-aa
The client was blocked for a Go Live as they have a policy for 0 Critical/High/Medium vulnerabilities. We had to temporarily archive those vulnerabilities as we couldn't file them as Low-severity vulnerabilities and help them move forward.

[2022-09-15 07:18] Mohammed-Luqman-Shareef commented on #155
@SuddenDevelopment I am able to add multiple headers here.  Can you pls share the details like the headers string you added and which categories you applied it to and the endpoint etc.,

[2022-09-15 14:15] fersy02 opened #156 "[Bug]: New Users unable to login with OKTA SSO"
### Severity

Blocker

### What happened?

New Users trying to log in with OKTA SSO are redirected to https://cloud.apisec.ai/callback after they click on the APIsec application within Okta.

![image](https://user-images.githubusercontent.com/47815523/190427015-e77b7082-75b2-4a21-a0b0-b9fcc67042e0.png)

[2022-09-15 14:15] fersy02 commented on #156
The issue is reproducible in-house, and the Engineering team is looking into it.

[2022-09-15 14:28] abdul-hai-apisec commented on #156
The issue was introduced with the fix for https://github.com/apisec-inc/Engineering/issues/301
Workaround: Using system admin privilege manually add the new user to the OKTA enabled org, then they will be able to access APIsec from OKTA.
The fix will be available with the next prod refresh tentatively scheduled for Monday.

[2022-09-15 17:57] dave-apisec opened #157 "[Bug]: Spaces aren't allowed in Name field on Add User page"
### Severity

Medium

### What happened?

First and last name cannot be added separated by a space.

If I remove the space, it works. If I edit the name after initially creating the user, it works.

![Screen Shot 2022-09-15 at 10 54 53 AM](https://user-images.githubusercontent.com/104801249/190476178-ce0d02c3-b384-4a71-bf42-3f5afbe41f2c.png)

[2022-09-16 11:02] MaimoonaFatima commented on #157
Verified in dev, working fine.

[2022-09-16 14:12] Abdullah-Akbar commented on #148
I just tried this , not getting any error but playbook generation is not working due to vc-git env issues, i think.

[2022-09-16 20:31] intesar commented on #154
@atef-aa are you following up on this?

[2022-09-18 07:45] SyedsImran commented on #148
Last Evening around 10PM IST all prod cluster Pods and VMs got restarted for some odd reason. We are investigating it.
Everything is working fine, but as a result of the above cluster VMs public IPs got changed which were dynamic IPs(two of the three).

@apisec-inc/devops  have turned dynamic IPs into static IPs now. Below are the new  static IPs.
34.75.76.48 (Changed IP)
34.75.241.98 (Unchanged I

[2022-09-18 17:00] atef-aa commented on #149
Update: these changes are being worked on, and soon will update this ticket once ready.

[2022-09-18 18:59] atef-aa commented on #150
@Mohammed-Luqman-Shareef, here's an update on my findings:

**Scenario 1**
- I created a new kanban project as per this ticket description
- Validated credentials Successfully BUT the issues were **not** synced to JIRA after scanning (same behavior as @muqeetkhan20 findings)

**Scenario 2**
- Updated the JIRA settings to point to a previously-existing Jira Project Key

[2022-09-18 19:14] atef-aa commented on #155
@Mohammed-Luqman-Shareef,
Under CORS Config, there were 2 headers:

When logging in from an account, the trigger:CORS was getting applied upon checking in the logs but not the origin:vulnerable.

And from another account, the origin:vulnerable was getting applied.

[2022-09-18 19:26] atef-aa commented on #157
@shahidabdul please provide an update on this fix.  It still persists in PROD.

[2022-09-18 20:19] atef-aa commented on #150
After the scanners restarted, the vulnerabilities were logged.  This is done on an existing project and a new project.  All vulnerability count matches with the dashboard count.

[2022-09-19 02:01] Mohammed-Luqman-Shareef commented on #155
@SuddenDevelopment  Can you try this
*:/**[Origin: vulnerable.{{@Host}},x-trigger:CORS]

Since you have multiple headers for the same method and path combination, you don't need separate lines.  You can put all the header values comma separated in the same line between the [ ]

[2022-09-19 05:24] shahidabdul commented on #157
Its working in Developer Environment. After PROD refresh you will get it in PROD.

[2022-09-19 08:03] MuqeedA commented on #154
Code changes pushed and should be available in prod in next refresh.

[2022-09-19 08:44] mjameel757 commented on #148
@apisec-inc/devops @apisec-inc/engineering @intesar

Assigning static IP's to node is not a best practice not it's a recommended solution when we go with k8s as a cloud managed services

GKE Handles autoscaling scenarios by using features like
1. HPA for adding removing Pods based on utilization metrics
2. Cluster Autoscaler, for adding and removing Nodes based on scheduled workload
3. Node auto-p

[2022-09-19 19:48] SuddenDevelopment commented on #155
yes this appears to work, thanks

[2022-09-19 19:48] #155 closed

[2022-09-19 19:58] SuddenDevelopment commented on #134
verified in prod thank you

[2022-09-20 07:06] asifadn9 commented on #154
Verified in dev, working fine.

[2022-09-20 07:16] amer-apisec commented on #151
verified in dev, not working pls refer screenshot.

![image](https://user-images.githubusercontent.com/105206963/191191464-2bc75d6f-02f8-4da0-ac9e-b1984a0c8476.png)

![Screenshot 2022-09-20 124008](https://user-images.githubusercontent.com/105206963/191191902-78cb9eb8-da8c-4043-9470-99fb30878ccc.png)

[2022-09-20 10:18] asifadn9 commented on #156
Created custom app of Developer Environment, and invited a user to okta app who is not a user of APIsec,
 The New user has logged into APIsec Dev Env as PM.

![image (2)](https://user-images.githubusercontent.com/87167426/191232641-c502afce-89a9-4bfc-8791-2b80bc764c73.png)
![image](https://user-images.githubusercontent.com/87167426/191232653-af9ca3ec-a49c-4ea6-aab7-4a671cbea232.png)

[2022-09-20 13:25] MaimoonaFatima commented on #157
verified in prod

[2022-09-20 13:28] #157 closed

[2022-09-20 14:40] asifadn9 commented on #154
Verified in Prod, working fine.

[2022-09-21 00:29] intesar opened #158 "[Bug]: OpenAPI 3.1.0 throwing NPE"
<img width="1420" alt="Screen Shot 2022-09-20 at 5 45 47 PM" src="https://user-images.githubusercontent.com/990419/191389632-2068142b-deb6-4036-b8e2-16a2c476c223.png">
<img width="1264" alt="Screen Shot 2022-09-20 at 5 11 39 PM" src="https://user-images.githubusercontent.com/990419/191389636-c460336f-6cb9-4d52-a3ce-baf0edc8c18e.png">
### Severity

Blocker

### What happened?

I shared the spec ove

[2022-09-21 03:50] fersy02 opened #159 "[Bug]: Postman Workspace Improvements"
### Severity

Medium

### What happened?

- [x] Onboarded Postman Collections appear with workspace prefix leading to duplicate projects
We onboarded around 80 postman collections from the API Gateway. After introducing the feature to support APIs, we have found that the existing collections onboarded earlier appear with a new name, including Postman Workspace <Workspace Name> as a prefix. This mi

[2022-09-21 04:59] fersy02 opened #160 "[Bug]: Avoid registering APIs leading to Parsing Errors to Prevent Null Pointer Exceptions"
### Severity

Medium

### What happened?

One of the prospects has recently tried to register an API with a few critical errors, including but not limited to the following:

1. Undefined path parameters
2. Duplicate endpoint paths or methods
3. Additional Query params defined in the path
4. Missing Response and
5. Undefined array fields

The project registers successfully but fails to discover end

[2022-09-21 05:58] YasmeenFatima commented on #150
Working fine in dev and prod..

[2022-09-21 05:58] #150 closed

[2022-09-21 06:01] #154 closed

[2022-09-21 06:02] #156 closed

[2022-09-21 06:03] asifadn9 commented on #153
verified, working fine.

[2022-09-21 06:03] #153 closed

[2022-09-21 06:24] humera987 opened #161 "[Bug]: Assertion propagation not working when playbook detects assertion change"
### Severity

Medium

### What happened?

Facing issue with Assertion propagation
![Asserstion bug](https://user-images.githubusercontent.com/40787463/191429478-da2d0fb8-7029-4b73-901d-c8bb6bdc2a44.PNG)

Steps to reproduce:
1. After changing the assertion in a playbook
2. Click on the Save button.
3. Popup appears assertion change detected, click on apply button
Receiving an error message "Asserti

[2022-09-21 15:44] #158 closed

[2022-09-21 23:18] atef-aa commented on #147
@SyedsImran - Have you noticed any behavior on the scanners?

[2022-09-22 04:34] atef-aa commented on #136
This is being worked on and under investigation.

[2022-09-22 04:59] fersy02 commented on #145
We have already shipped this to the client.

[2022-09-22 04:59] #145 closed

[2022-09-22 05:09] fersy02 opened #162 "[Bug]: Categories Page displays an error"
### Severity

Blocker

### What happened?

Experiencing the following error on the categories page in New and Existing projects:
![image](https://user-images.githubusercontent.com/47815523/191662679-099a1a5a-ff3c-4394-b4f9-2640dae80279.png)

Steps to reproduce:
1. Log into APIsec Web Console
2. Navigate to a project, Configurations, Categories

Expected Result:
The categories page should open with

[2022-09-22 05:23] fersy02 commented on #146
Verified and shipped to the client.

[2022-09-22 05:23] #146 closed

[2022-09-22 05:33] AtifaFahmeen commented on #161
gitkraken://repolink/55a5885a5ab5d4cad992ffeab68f2f3aabdf6983/commit/5937a46bf6642719e71e1a768e2a602531fc427a?url=https%3A%2F%2Fgithub.com%2Fapisec-inc%2FFxt.git

The issue is fixed.

[2022-09-26 05:21] amer-apisec commented on #151
verified in dev, Score below 3.9 still showing as medium severity, pls refer screenshot.

![image](https://user-images.githubusercontent.com/105206963/192199271-e94aace4-6478-49b0-8b8e-638321e995d4.png)

[2022-09-26 05:45] mmuqtaar commented on #151
@amer-apisec I have verified in dev env, It's working reproduce step

![image](https://user-images.githubusercontent.com/87175886/192202052-43b8d191-8c2c-48da-9d51-c126a350ea5f.png)

[2022-09-26 06:25] amer-apisec commented on #151
**Steps to reproduce**
Test case - 1
1. Go to Security categories from the main dashboard page
2.  change unsecured category cvss to 3.3
3.  click on Rebuild and launch
4.  now register a new project and hit scan for unsecured
5. still the 3.3 is showing as medium severity

![image](https://user-images.githubusercontent.com/105206963/192206146-5e4083ac-e2e8-4cad-82da-360db2707db0.png)

Test case -

[2022-09-26 06:34] mmuqtaar commented on #151
@amer-apisec Issue is resolved to unblock the customer as per test case-2. However, you can close the issue & open a new ticket for test case-1

[2022-09-27 04:34] MuqeedA commented on #162
@Abdullah-Akbar ,
As discussed , the error message is populated from **/api/v1/projects/8a80948d7ed8500d017ee4de363521d4/autocodeconfig** response. Please assign a backend developer to check this error.

[2022-09-27 15:51] MaimoonaFatima commented on #162
We are able to reproduce this bug.
Tenant name: APIsec
Project name: proj27
**Steps to reproduce:**
1. In security categories change vulnerability score for two categories
2. In a project go to categories page
3. Open the category in which u have changed the score
4. Click resync changes will reflect (both categories)
5. Click save and rewrite playbooks (both categories)
6. The below message will

[2022-09-28 00:38] atef-aa opened #163 "Onboard "Velocify Updated 4" API"
Please onboard the following API to the best of our ability, and let us know what's missing, what we would need to complete the rest this process:

Org: ICE//
API: Velocify Updated 4

We're hoping to get back to the customer soon this week.

[2022-09-28 00:50] atef-aa commented on #163
@asriz7777 - Please check on this.

[2022-09-28 07:01] muqeetkhan20 commented on #151
@mmuqtaar the new project creation should not force us to save and re-write the playbooks to impact the severity.
Customer may treat this as a bug. Please resolve this.
![image (16)](https://user-images.githubusercontent.com/68276700/192710461-56183314-9653-4807-a933-da58b82f51fe.png)

[2022-09-28 15:40] Abid60 commented on #147
Experienced the issue once again at 9 pm. The scanners turned to Stop State.

[2022-09-28 18:10] dave-apisec opened #164 "[Bug]: Add key to Auth wire log obfuscation list"
### Severity

Blocker

### What happened?

Hey team,

Please add this key to the list of auth keys which should be obfuscated in the wire logs.

`Ocp-Apim-Subscription-Key:`

Thank you!

[2022-09-29 05:23] Abid60 opened #165 "[Bug]: change in numbers of playbook when the profile is switched"
### Severity

Medium

### What happened?

change in numbers of playbook when the profile is switched
After running the scan, when I go to all scan's the playbook number is 1301, When I change the profile to Master_QA1 the play book number jumps to 3483. PFA....SS
![All_playbook](https://user-images.githubusercontent.com/53075600/192945378-624c56fe-7810-4aa0-9a7c-a803d8f2c8f5.png)
![masterQA_Playbo

[2022-09-29 07:03] abdul-hai-apisec commented on #136
The issue is now resolved in production. Only one email report is triggered now after running the scan.
![image](https://user-images.githubusercontent.com/83706991/192962425-b2e7d3b7-4d53-452b-8fbd-6125dda26838.png)

[2022-09-29 08:12] Afra-APIsec opened #166 "[Bug]: Sync Timeout Issue"
### Severity

Medium

### What happened?

A few of the Project syncs are ending in Time-out.
![image](https://user-images.githubusercontent.com/39483585/192977162-c161c762-06a5-458e-be2d-3750a4c7ffd7.png)

[2022-09-29 12:28] Afra-APIsec opened #167 "[Bug]: Count of playbooks is displayed differently on playbooks page"
### Severity

Medium

### What happened?

The count of playbooks is displayed differently on the playbooks page as seen in the images
![image](https://user-images.githubusercontent.com/39483585/193030596-1b7f7692-c58a-46e6-ab9b-5900306efab1.png)
![image](https://user-images.githubusercontent.com/39483585/193030851-4b14fdf6-a09f-4070-a20d-577abaef8f60.png)
![image](https://user-images.githubusercon

[2022-09-30 05:52] muqeetkhan20 commented on #165
on further investigation:

This issue is reproducible only when we run All the categories and select the profiles.
The playbook numbers have no issues with single category run and All profile selection.

[2022-10-03 05:25] mmuqtaar commented on #151
@muqeetkhan20 It is currently in our design, we cannot make changes to it.

[2022-10-03 05:28] MuqeedA commented on #149
Changes pushed to Prod.

[2022-10-04 10:55] fersy02 opened #168 "[Bug]: API Registration Via Postman collection adds Duplicate Authentications"
### Severity

Medium

### What happened?

Regression found in the latest development for automatically configuring authentication via Postman collection.
Duplicate entries are added under the Configurations, Environments, and Envs & Creds for User0 through User9
![image](https://user-images.githubusercontent.com/47815523/193800998-abcac1e9-58cc-4c40-8aa3-9ad50bd8c245.png)

Shared Postman collectio

[2022-10-04 10:56] fersy02 commented on #159
https://github.com/apisec-inc/Support/issues/168

[2022-10-04 15:25] AkaramAli commented on #168
Credentials are fetched and added in below order..

1. Default
2. ROLE_USER
3. UserA
4. Post that credentials are added with User{Random(0-9)}.

This collection has 78 credentials (72 token based and 6 Basic)  which is a rare scenario .
Since we are using User{Random(0-9)} random string to add the credentials ,hence the random/duplicate names .
Will look into it to  handle this kind of scenario .

[2022-10-04 16:11] atef-aa commented on #149
@fersy02 - Is this okay to close?

[2022-10-04 16:20] atef-aa commented on #160
@Abdullah-Akbar - please provide an update with where we're at with this.

[2022-10-04 16:24] atef-aa commented on #162
Any update on who's working on this?

[2022-10-04 16:25] fersy02 commented on #149
@atef-aa - It looks good to me, but I requested the client to confirm before we close this ticket.

[2022-10-04 16:29] atef-aa commented on #166
@muqeetkhan20 - please have a tester assigned to this.

[2022-10-04 16:33] atef-aa commented on #167
@AtifaFahmeen - please provide an update. Is the fix already being deployed?  I just reviewed one of the projects and the count looks fine.

[2022-10-04 16:43] fersy02 commented on #149
@atef-aa - I just received a confirmation that we are good to close.

[2022-10-04 16:43] #149 closed

[2022-10-04 17:20] Abedeen1 commented on #162
@atef-aa , researched on the issue. it may take time for me to fix. please asign to someone else.

[2022-10-04 21:35] Abdullah-Akbar commented on #160
Projects by design, are registered even if their specs are faulty. We are looking into how we can improve error messaging by informing the user in the homepage itself.

[2022-10-05 05:32] muqeetkhan20 commented on #168
@AkaramAli  QE have raised similar kind of bug couple of days ago. This looks generic - FYI
https://github.com/apisec-inc/Engineering/issues/371

[2022-10-05 05:37] muqeetkhan20 commented on #166
@atef-aa these kind of issues will be inconsistent; rarely this happens due to performance.
We will not be able to reproduce this. You can close this ticket after checking with @Afra-APIsec

[2022-10-05 05:53] muqeetkhan20 commented on #136
@fersy02 can you please confirm? we have to close the ticket.

[2022-10-05 06:30] asifadn9 commented on #164
verified in dev, working fine.

[2022-10-05 07:11] muqeetkhan20 commented on #151
Discussed with @Mohammed-Luqman-Shareef, it's a valid test case

[2022-10-05 15:45] AkaramAli commented on #168
@muqeetkhan20  - Both are different issues and have different steps to reproduce .

[2022-10-05 20:31] atef-aa commented on #164
@asifadn9 - is this already available in PROD?

[2022-10-06 02:38] asifadn9 commented on #164
@atef-aa - simultaneously checked in prod, it is not working.

[2022-10-06 05:02] Abdullah-Akbar commented on #164
@atef-aa this will work only when scanners are refreshed in the prod env also.

[2022-10-06 05:58] Abid60 commented on #165
@Mohammed-Luqman-Shareef  any update on this issue?

[2022-10-06 08:11] AkaramAli commented on #168
I am looking into it .

[2022-10-06 16:46] humera987 commented on #161
This issue is reproducible with Injection categories, Please look into it.

[2022-10-06 17:38] muqeetkhan20 commented on #161
@humera987 though it's impacting the changed assertion. It's not a blocker - just we need to disable the error window.
@AtifaFahmeen please look into this.

[2022-10-07 09:23] YasmeenFatima commented on #161
@humera987, i've raised the ticket a week ago https://github.com/apisec-inc/Engineering/issues/359

[2022-10-08 02:54] intesar opened #169 "[Bug]: test"
### Severity

Blocker (No Workaround Available)

### What happened?

Write a brief report...

[2022-10-08 02:55] intesar opened #170 "[Bug]: test"
### Severity

Bug

### What happened?

Write a brief report...

[2022-10-08 02:56] intesar opened #171 "[Bug]: test2"
### Severity

UX Improvement

### What happened?

Write a brief report...

[2022-10-08 03:07] intesar opened #172 "[Bug]: test22"
### Severity

UX Improvement

### What happened?

Write a brief report...

[2022-10-08 03:09] intesar opened #173 "[Bug]: Test2"
### Severity

Blocker (No Workaround Available)

### What happened?

Write a brief report...

[2022-10-08 03:09] intesar opened #174 "[Bug]: test33"
### Severity

Bug

### What happened?

Write a brief report...

[2022-10-08 03:09] intesar opened #175 "[Bug]: test44"
### Severity

UX Improvement

### What happened?

Write a brief report...

[2022-10-08 03:15] intesar opened #176 "[Report]: test1"
### Severity

Blocker (No Workaround Available)

### What happened?

Write a brief report...

[2022-10-08 03:15] intesar opened #177 "[Report]: test2"
### Severity

Bug

### What happened?

Write a brief report...

[2022-10-08 03:15] intesar opened #178 "[Report]: test3"
### Severity

UX Improvement

### What happened?

Write a brief report...

[2022-10-08 03:19] intesar commented on #147
If we're not seeing this issue any more please close the ticket. @Abid60 @fersy02

[2022-10-10 04:54] fersy02 commented on #136
@muqeetkhan20, I have invoked a scan, requested a summary report, and received it only once. However, as requested in the consecutive scan, I haven't received a pen-test report. I will retry and update the ticket shortly.

[2022-10-10 05:36] fersy02 commented on #136
Closing this ticket as we are now receiving a single report.

[2022-10-10 05:36] #136 closed

[2022-10-10 10:20] muqeetkhan20 commented on #161
@humera987 we can close the support ticket and track the ticket of @apisec-inc/engineering board. thanks

[2022-10-10 17:48] intesar commented on #148
@mjameel757, what is the solution to make sure the IPs are predictable? Is there a way to assign an IP pool to the nodes?

[2022-10-10 17:51] intesar commented on #114
@Mohammed-Luqman-Shareef add a sample UUID in the variable value if that is what is expected.

[2022-10-10 18:25] AtifaFahmeen commented on #161
This issue is fixed. refer to https://github.com/apisec-inc/Engineering/issues/359.

[2022-10-10 18:35] SuddenDevelopment opened #179 "[Report]: Assertion OR syntax consistency with docs"
### Severity

Low

### What happened?

in some recent work I was told to use "OR" instead of "||" and that worked fine.

but the assertions docs inline say that "||" is valid.

we either need to make "||" work or remove it from in line help.
![Screen Shot 2022-10-10 at 2 35 08 PM](https://user-images.githubusercontent.com/138704/194931670-cbead650-d5af-468e-8c1b-41099d08f737.png)

[2022-10-10 18:52] #161 closed

[2022-10-11 06:28] Afra-APIsec commented on #166
This issue was raised by the client BIND. The issue is still reproducible.
![image](https://user-images.githubusercontent.com/39483585/195012700-11024581-60d2-47df-9f06-e30266b95f6d.png)

[2022-10-11 08:11] Afra-APIsec commented on #167
This is not reproducible now. Got fixed in a project after regenerating playbooks. Closing the ticket.

[2022-10-11 08:12] #167 closed

[2022-10-11 08:38] ChrisApi commented on #18
It is resolved, thank you sooo much!

-Chris

On Thu, Mar 17, 2022 at 8:38 AM Intesar Shannan Mohammed <
***@***.***> wrote:

--
Christopher Smith | (360) 298 - 4172
Account Executive | LinkedIn
<https://www.linkedin.com/in/christopher-smith-789149161/>

[2022-10-11 21:09] intesar opened #180 "[Bug]: @NULL, @EMPTY in assertion"
### Severity

Bug

### What happened?

- [ ] @NULL, @EMPTY should be @Null and @Emtpy in the new Playbook documentation to keep it consistent with other injectable variables.
- [ ] Update CORS_Config assertion to reflect the new name @Null instead of @NULL
- [ ] Add "null" check for @Null. This assertion should pass - Assertion [@ResponseHeaders.Access-Control-Allow-Origin != @NULL] resolved-to [n

[2022-10-12 06:03] fersy02 commented on #147
Let's monitor for 1 more week as we experienced timeout issues even with the Global Scanners.

[2022-10-12 15:08] Mohammed-Luqman-Shareef commented on #114
A random UUID is set to id params.

[2022-10-13 05:05] Mohammed-Luqman-Shareef commented on #179
@MuqeedA Pls remove || from the help text.

[2022-10-13 05:19] mjameel757 commented on #148
comming week end we are going to implement IP masquerade agent on cluster..

[2022-10-13 05:34] muqeetkhan20 commented on #151
@mmuqtaar we need to make this fully functional.
One of the scenario which is significant is not working. I have already discussed with @Mohammed-Luqman-Shareef; it seems to be a valid scenario. We can close this ticket once the said scenario is fixed.

[2022-10-13 06:10] asifadn9 commented on #164
verified in Prod, working fine.

[2022-10-13 06:13] #164 closed

[2022-10-13 07:15] muqeetkhan20 commented on #114
@Mohammed-Luqman-Shareef looks good in dev.
**suggestion:** can we increase the column length; we have enough space in the table.
![image](https://user-images.githubusercontent.com/68276700/195527667-60db66f1-483c-43c4-8237-d153e1f41d80.png)

[2022-10-13 13:44] YasmeenFatima commented on #165
@jaleelsyed this issue is still reproducible.

[2022-10-14 01:44] atef-aa commented on #162
This issue is happening intermittently.
@Abedeen1 will provide is looking into it.

[2022-10-14 16:40] Abedeen1 commented on #162
@atef-aa Sir,

We are unable to reproduce the error, Could you please provide steps to reproduce it.

[2022-10-16 00:00] intesar opened #181 "[Bug]: Invalid assertion in Broken Authentication Category"
<img width="698" alt="Screen Shot 2022-10-15 at 4 53 23 PM" src="https://user-images.githubusercontent.com/990419/196012054-f8fbbbd1-e074-417f-9124-339521b19230.png">
<img width="733" alt="Screen Shot 2022-10-15 at 4 56 16 PM" src="https://user-images.githubusercontent.com/990419/196012055-d2ab37af-3fe8-4584-9ce5-535cf4a0f9b9.png">
### Severity

Blocker (No Workaround Available)

### What happened

[2022-10-16 20:49] intesar opened #182 "[Report]: AI failed to mark /healthy endpoint as FP"
### Severity

Bug

### What happened?

Both endpoints should be marked as FP.

GET:https://fullnode.devnet.aptoslabs.com/v1/-/healthy
GET:https://fullnode.devnet.aptoslabs.com/v1/spec

[2022-10-16 20:53] intesar opened #183 "[Report]: Authentication Exploit (SQL) - invalid assertions"
### Severity

Bug

### What happened?

Category: Authentication Exploit (SQL)

Assertions
@StatusCode == 401 OR @StatusCode == 403 OR @StatusCode == 405 OR @StatusCode == 406
@ResponseTime < 7000

The first line of assertions means if the playbook returns a 200. It will report it as a vulnerability.

Changed assertions to
@ResponseTime < 7000

[2022-10-16 20:54] intesar commented on #183
Changes are made in the UI. We need to make sure we make the changes in the DB script.

[2022-10-17 00:38] habeebvulla commented on #182
Issue resolved.

[2022-10-17 00:39] habeebvulla commented on #182
Fixed

[2022-10-17 06:28] Mohammed-Luqman-Shareef commented on #183
@AkaramAli,  Write a flyway script to update it.

[2022-10-17 16:52] AkaramAli commented on #168
Code pushed , Should be available in next prod refresh .

[2022-10-18 08:42] FidaUrRahman commented on #182
verified working..

[2022-10-18 13:24] AkaramAli commented on #159
1. Postman does not restrict  the collections/APIs with same name in a workspace and across workspaces ,
But in APISec platform it is restricted to have duplicate project names .
So when Any API/Collection is registered in platform , all other APIs/Collections with the same name is greyed in postman gateway to avoid duplicate project name registrations.

For collections workspace name prefix was a

[2022-10-18 14:17] YasmeenFatima commented on #168
Working fine, verified in STG env

[2022-10-18 16:50] MaimoonaFatima commented on #160
Verified in prod.

[2022-10-18 17:00] MaimoonaFatima commented on #179
Verified in stg.

[2022-10-19 09:51] YasmeenFatima commented on #168
Working fine, Verified in prod

[2022-10-19 09:51] #168 closed

[2022-10-19 12:50] MaimoonaFatima commented on #179
verified in prod.

[2022-10-19 12:50] #179 closed

[2022-10-19 16:36] FidaUrRahman commented on #182
@intesar
It is marking these endpoints as FP when tested through AI-bot API ,

also tried adding these endpoints in netbanking spec via add enpoints functionality , but playbooks of these two endpoints in unsecured category is PASSING , since these are dummy endpoints for netbanking , that's why it is returning 401 , unable to test through UI

can you please verify if it is working fine with UI as

[2022-10-20 06:06] MaimoonaFatima commented on #183
Verified in prod (UI). QA doesn't have an access to test in DB script.

[2022-10-20 06:06] #183 closed

[2022-10-20 06:10] muqeetkhan20 commented on #165
@jaleelsyed did you get a chance to look into it?

[2022-10-20 08:56] YasmeenFatima commented on #151
Its working fine is dev.
![image](https://user-images.githubusercontent.com/69448810/196903848-0402578b-386b-445b-9d90-b4d10efb2b85.png)

[2022-10-20 10:58] fersy02 opened #184 "[Report]: Queries on OpenJDK-13 and its dependency on the Scanner"
### Severity

Bug

### What happened?

One of our clients reported that OpenJDK-13 is required to deploy a scanner. Since OpenJDK-13 is outdated, the client would like to know if it can be replaced with the latest version and if it will impact the functionality of our scanners.

OpenJDK-13 was found on the VM where the scanner is deployed in the following location:
/var/lib/docker/overlay2/<number

[2022-10-20 12:13] Abdullah-Akbar commented on #184
[Docker ](https://www.docker.com/)containers offers OS-level abstraction and provides containerization i.e.  packaging an application’s code - with dependencies, libraries, and configuration files into a standalone executable unit.

 Meaning the only pre-requisite to install and use our APIsec scanner in any server would be
1. Docker Engine Installation - https://docs.docker.com/engine/install/
2.

[2022-10-20 12:31] SyedsImran commented on #184
/var/lib/docker/overlay2/c0f3dee3675f55fe5cd88280769d76f21f0081234d1dbd852ea26e1f6cfe1837/merged/usr/java/openjdk-13
this openjdk-13 entry comes in that location from scanners we deployed in the docker installed VM, docker keeps all the files and other stuffs of the deployed container at the /var/lib/docker location inside the locally docker installed VM.
Not because java installed locally in the

[2022-10-20 16:22] fersy02 opened #185 "[Report]: Avoid closing valid vulnerabilities due to server or authentication errors"
### Severity

Bug

### What happened?

During a training session, I noticed a valid vulnerability in the Incremental Ids L2 category closed because the server responded with a 500 status code. Ideally, it should have considered this as a false negative.

Here's the scan result:
![image](https://user-images.githubusercontent.com/47815523/197003133-eb01fcfb-2e46-4b6d-a1f0-eefd1d2878c8.png)

Here's t

[2022-10-20 20:42] intesar opened #186 "[Report]: Category text improvements"
### Severity

UX Improvement.

Do it as a DB Script @Mohammed-Luqman-Shareef @SuddenDevelopment

### What happened?

- [x] Rename "Sensitive data exposure" to "Sensitive Data Exposure"
- [x] Rename "ADoS" to "ADoS (Resource Limit)"
- [x] Rename "XSS Injection" to "Stored XSS Injection"
- [x] Rename "RateLimit_Authenticated" to "Rate-Limit (Authenticated)"
- [x] Rename "RateLimit_Auauthenticated" t

[2022-10-20 20:58] intesar opened #187 "[Report]: wildcard matching in incremental_ids"
### Severity

Bug

### What happened?

Please support this:

- [x] @ResponseHeaders.X-*-Version == @null (@Mohammed-Luqman-Shareef can you look into this?)

(We can look into this later)
- [ ] Support wildcard comparison in assertions e.g. in incremental_ids we should support @Response.$..*id != @Numbers

[2022-10-21 01:27] intesar opened #188 "[Report]: Stored Injection assertion"
### Severity

Bug

### What happened?

How can we support this in assertions?

// check if the response has injection text
@Response ~= @Injection

[2022-10-21 02:58] intesar opened #189 "Show on Security Category page "Active By Default" Column. Remove the status column."

[2022-10-21 04:36] intesar commented on #188
@SuddenDevelopment can you look into this?

[2022-10-21 05:06] Mohammed-Luqman-Shareef commented on #189
Apart from Active by default, user can activate or de activate categories from this page.  So we need status column as well, other wise there is no other way to know if a category is currently active or not.
I would suggest we have both the columns on the page.

[2022-10-21 05:13] Mohammed-Luqman-Shareef commented on #181
@muqeetkhan20  We can close this ticket now.
Going forward we can restrict the Security category updates, as discussed in email.

[2022-10-21 09:14] mmuqtaar commented on #151
As per this ticket, functionality is delivered. Close this ticket.

[2022-10-21 16:16] intesar commented on #186
@Mohammed-Luqman-Shareef can we do a hot deploy for this ticket?

[2022-10-21 16:18] intesar commented on #189
@Mohammed-Luqman-Shareef sure keep both the columns

[2022-10-21 16:21] intesar commented on #182
@habeebvulla @FidaUrRahman - thanks for the improvements. Closing the ticket.

[2022-10-21 16:21] #182 closed

[2022-10-21 17:04] Mohammed-Luqman-Shareef commented on #186
Sure.  This one needs only a DB script.  We can runt it from backend, no need of code deployment.
@AkaramAli, can you pls share the SQL script with DevOps and ask them to run it in Prod DB.  Once done, verify it through UI and update this ticket.

[2022-10-21 17:16] intesar opened #190 "Customer 1 is Blocked"

[2022-10-21 17:42] Mohammed-Luqman-Shareef commented on #190
@intesar What is the issue?

[2022-10-21 21:05] SuddenDevelopment commented on #186
@Mohammed-Luqman-Shareef  I thought this was my task, did it... in the repo as V390

[2022-10-24 04:19] Mohammed-Luqman-Shareef commented on #186
@SuddenDevelopment, Thanks for pushing it in repo.  Going forward you can take care of such category changes via flyway.
Since there was an ask for hot deployment, I got them updated in DB.

[2022-10-24 05:11] Abid60 commented on #147
Scanners are not responsive

[2022-10-24 08:53] #181 closed

[2022-10-24 10:06] MaimoonaFatima commented on #186
@Mohammed-Luqman-Shareef
1. Categories name not updated in stg env.
2. Old names are still showing in most places(dev & prod)
Security categories page, scan history etc.
![image](https://user-images.githubusercontent.com/72252407/197496594-4c720f1d-8a2c-4c7d-9abf-b7034ff7e533.png)
![image](https://user-images.githubusercontent.com/72252407/197496848-33a036b9-1f75-466f-84a4-d0d268f6acbc.png)

[2022-10-24 12:30] Mohammed-Luqman-Shareef commented on #186
@muqeetkhan20 Stg env will be refreshed only before the prod release.

[2022-10-24 12:31] Mohammed-Luqman-Shareef commented on #186
Daily testing should continue in Dev env as usual.

[2022-10-24 14:58] fersy02 opened #191 "[Report]: Project registered with Postman Collection URL detect less endpoints"
### Severity

Bug

### What happened?

A prospect has reported that the postman collection he is trying to register has around 17 endpoints, but when registering the collection using the URL, the project shows only 5 endpoints.

I tried reproducing the issue using the URL. APIsec detected only 5 endpoints
![image](https://user-images.githubusercontent.com/47815523/197557195-680ab3f0-f839-4176-9054

[2022-10-24 15:58] APIStacey opened #192 "[Report]: GItHub Actions APIsec name has a capital "S""
### Severity

Bug

### What happened?

GitHub Actions are capitalizing the "S" in APIsec.

![image](https://user-images.githubusercontent.com/115025465/197571343-eaa90da8-098e-48af-904a-31c8ac70fba9.png)

[2022-10-24 19:12] atef-aa commented on #114
This ticket will be closed after evaluating functionality in prod. The UI changes will be moved to a separate ticket in by QA.

[2022-10-24 19:13] atef-aa commented on #190
This was created for testing, closing it.

[2022-10-24 19:13] #190 closed

[2022-10-24 19:13] atef-aa commented on #162
@Abdullah-Akbar is looking into this.

[2022-10-24 21:26] APIStacey opened #193 "[UX Improvement]: Empty Orgs throw message that look like an error"
### Severity

UX Improvement

### What happened?

I created a new tenant and was logging in for the first time. It shows this message that looks like an error. It would be better to have a message on the screen just saying no projects. The message as it is currently looks like a bug

![image](https://user-images.githubusercontent.com/115025465/197632705-ca3cec65-5574-4e99-b388-06e6e219be1e.png)

[2022-10-24 23:03] atef-aa commented on #147
Scanners were back online.

[2022-10-25 01:08] Abdullah-Akbar commented on #162
I am not successful in reproducing it, still trying.

[2022-10-25 04:29] MuqeedA commented on #193
@atef-aa ,
This is already fixed as part of this ticket: https://github.com/apisec-inc/Engineering/issues/388

[2022-10-25 05:21] fersy02 commented on #159
Backward compatibility is a must. We get continuous improvements, and manually deleting and registering thousands of API projects is a huge task.

[2022-10-25 05:22] fersy02 commented on #191
Please address this at the earliest as it is a customer-facing issue.

[2022-10-25 05:39] #151 closed

[2022-10-25 06:18] AkaramAli commented on #191
I am looking into it .

[2022-10-25 07:59] AkaramAli commented on #191
@fersy02  -
I have debugged this issue and noticed that Postman URL and the exported collection have different postman collection schema versions .

Postman URL collection  has v2.0.0  ,while Exported collection has v2.1.0

@MuqeedA  @ImranShaik065 -
This seems to be Postman Convertor issue , not related to platform ,Can someone look into this ?

[2022-10-25 09:44] muqeetkhan20 commented on #114
@atef-aa UI changes moved; thanks

[2022-10-25 09:44] #114 closed

[2022-10-25 11:51] MaimoonaFatima commented on #189
Verified in stg.

[2022-10-25 16:09] muqeetkhan20 commented on #162
@Abdullah-Akbar our automation suite reported this error soon after the prod refresh; even the manual testers reported the same error.  We found few steps to reproduce this error; give it a try.
1. Goto security categories -> select any of the category -> edit the value -> Rebuild and Launch
2. Goto project category page -> open the edited category -> click re-sync -> wait for the value to change

[2022-10-25 17:24] Abdullah-Akbar commented on #162
Just tried in dev for broken auth. no success

[2022-10-25 18:17] fersy02 opened #194 "[Report]: Review RBAC Map Lists only 1000 Endpoints for an API more than 1000 Endpoints"
### Severity

Blocker (No Workaround Available)

### What happened?

One of our clients has 2469 endpoints, and after running an RBAC Scan, the Review RBAC Map lists only 1000 endpoints. Unfortunately, there is no alternative for retrieving all endpoints, even by downloading the Excel file.

![image](https://user-images.githubusercontent.com/47815523/197850449-7bf8f043-d8a4-4fa1-8942-d668ae4b52e1.

[2022-10-25 19:19] SuddenDevelopment opened #195 "[Report]: Production UI issues with scanning and playbooks"
### Severity

Blocker (No Workaround Available)

### What happened?

Write a brief report...
![Screen Shot 2022-10-25 at 3 13 50 PM](https://user-images.githubusercontent.com/138704/197861809-8a77a009-a0b2-4c3c-a200-c94e9beab1d7.png)
 2 issues:

 1. when creating playbooks, many categories are blank labels.
 2. When trying to scan, I'm ot able to get any private / active categories to show. I crea

[2022-10-26 05:50] muqeetkhan20 commented on #184
@atef-aa  QE will not be able to test this; please follow up with the concern department and close the ticket.

[2022-10-26 05:53] Abdullah-Akbar commented on #184
@muqeetkhan20 please verify whether the documentation and help text contains this [information](https://github.com/apisec-inc/Support/issues/184#issuecomment-1285435691) -

[2022-10-26 06:05] MuqeedA commented on #194
The API `/api/v1/projects/<projectId>/endpoints` is returning 1000 endpoints only. Correction required in backend code.

[2022-10-26 06:53] muqeetkhan20 commented on #162
@Abdullah-Akbar please sync up with @MaimoonaFatima on the call. She may be able to reproduce.

[2022-10-26 07:12] fersy02 opened #196 "[Report]: GitHub Actions - Creating a workflow from the APIsec template run into issues"
### Severity

Bug

### What happened?

GitHub Actions allow a user to create a workflow using an existing template. Upon creating a workflow with the APIsec template, import an invalid version compared to one available in the Marketplace.

![image](https://user-images.githubusercontent.com/47815523/197956837-f6142192-839f-471b-b461-9a96e2c888bd.png)

Steps to reproduce:

1. Log in to the GitHub co

[2022-10-26 09:17] Abdullah-Akbar commented on #195
@SuddenDevelopment I am not able to reproduce this. is this still occurring?

[2022-10-26 10:02] YasmeenFatima commented on #195
This issue is not reproducible

[2022-10-26 12:16] APIStacey commented on #196
Just to add - here is a video showing some details: https://www.screencast.com/t/7KGenoTeJ0j6

[2022-10-26 12:24] AkaramAli commented on #159
@fersy02 -

We onboarded around 80 postman collections from the API Gateway. After introducing the feature to support APIs, we have found that the existing collections onboarded earlier appear with a new name, including Postman Workspace as a prefix. This might lead to a duplication of projects as they are not greyed out when they were onboarded earlier.

A simpler workaround is , to do one time a

[2022-10-26 12:54] fersy02 opened #197 "[Report]: Newly Added endpoints fail to show in the Reports Tab and Spec comparision report is empty"
### Severity

Bug

### What happened?

One of our clients has recently reloaded their OAS, and the number of endpoints has increased by 19. Although the total number of endpoints has changed, the reports tab still shows the previous count, and the spec comparison report has no data.

Here are the details:

Screenshot of the project dashboard before reloading the OAS:
![image](https://user-images.g

[2022-10-27 01:23] Afra-APIsec commented on #147
Scanners went down for 2 minutes, they are running now

[2022-10-27 02:02] #147 closed

[2022-10-27 06:45] YasmeenFatima commented on #197
This issue is not reproducible to me, i cross verified with Net banking spec
Reports tab:
![image](https://user-images.githubusercontent.com/69448810/198210450-7495d5a3-97a6-4dc4-936d-08fcf0cb3878.png)
Spec Comparision report:
![image](https://user-images.githubusercontent.com/69448810/198210479-3126290a-99bf-4216-beb6-1687feb91fa1.png)
Dashboard:
![image](https://user-images.githubusercontent.com

[2022-10-27 16:55] muqeetkhan20 commented on #189
@MuqeedA we need to remove the "Active By Default" column from the project category page.

[2022-10-27 20:57] atef-aa commented on #195
This is working for Anthony now.

[2022-10-27 20:57] #195 closed

[2022-10-28 00:31] intesar commented on #194
@abdul-hai-apisec increase the max-limit to 2500 for this api endpoint

[2022-10-28 00:32] intesar commented on #192
@abdul-hai-apisec

[2022-10-28 00:34] intesar commented on #191
@ImranShaik065 are you looking into this?

[2022-10-28 00:37] intesar commented on #189
@MuqeedA thanks

[2022-10-28 00:37] #189 closed

[2022-10-28 00:40] intesar commented on #184
- [ ] Upgrade open-jdk in scanner to the latest version @Abdullah-Akbar

[2022-10-28 00:40] #180 closed

[2022-10-28 00:41] intesar commented on #166
@Afra-APIsec is this issue fixed?

[2022-10-28 02:24] abdul-hai-apisec commented on #196
https://github.com/actions/starter-workflows/pull/1798

[2022-10-28 05:39] ImranShaik065 commented on #191
@MuqeedA is already started working on this.

[2022-10-28 06:00] muqeetkhan20 commented on #186
@Mohammed-Luqman-Shareef as discussed on the call; the new category names did not impact in many areas (scans, reports, security categories etc)

[2022-10-28 10:25] #165 closed

[2022-10-28 13:24] MaimoonaFatima commented on #193
Verified in prod.

[2022-10-28 13:24] #193 closed

[2022-10-28 16:00] Afra-APIsec commented on #166
Closing the ticket as the sync is working fine now with the Spec file.

[2022-10-28 16:00] #166 closed

[2022-10-29 03:21] atef-aa commented on #162
Some more findings on this:
The accounts that are failing contain duplicate entries for Cors_Config category.  One entry is correct but the other entry is missing name.  Attachments below.

**More points when duplicate category exists **
- The inactive checkmark does not activate the button
- The browser console shows an error with requestId: "none"
- For other accounts where there is not reproduc

[2022-10-29 03:21] atef-aa commented on #162
@MaimoonaFatima - please review these findings and update if you have more findings.

cc: @Afra-APIsec

[2022-10-29 13:05] atef-aa opened #198 "Project pagination is retaining the page but not updating the page position"
### Severity

Bug

### What happened?

When a user navigates thru the project using the pagination, clicks on a project, then back to the homepage, the last pagination is retained (which is expected) **but** the pagination got reset to the first page position (which needs to be retained along with the page visited).

Steps to re-produce:

1. Login to an account with multiple projects > from the ho

[2022-10-31 07:33] fersy02 opened #199 "[Report]: Log4j Injection category is wrongly grouped into the Compliance categories"
### Severity

Bug

### What happened?

Steps to reproduce:

1. Log into the API tenant
2. Navigate to a project, Configurations, Categories
3. Select Compliance from the Filter drop-down

Expected Result:
The Log4j Injection category shouldn't appear in the list.

Actual Result:
The Log4j Injection category appears in the list.

[2022-10-31 07:56] shamiulla-apisec commented on #199
@fersy02 This is a backend issue. Data comes from backend.

[2022-10-31 08:23] fersy02 commented on #199
@shamiulla-apisec, thanks for the update. Marked it as a bug.

[2022-10-31 08:40] MuqeedA commented on #199
@Mohammed-Luqman-Shareef & @fersy02 ,

The injection and compliance categories are separated based on the OWASP rank on UI side. If any category is to be considered as an injection category, it should be marked as OWASP-API8.

**Rank of log4j category data on proj categories page:**
<img width="289" alt="image" src="https://user-images.githubusercontent.com/87184027/198965784-e53b22f8-d3d7-4f34-9c

[2022-10-31 09:05] fersy02 commented on #199
The OWSAP ranking is not a relevant factor to group them as it is volatile and would change in the future.

[2022-10-31 16:28] SuddenDevelopment commented on #186
I previously updated the display_header_label which I thought SHOULD be the primary one uses for "display"
I'll update the "category" column as well in a new flywheel script.

I DO NOT think we should update the "type" column which is used as a key. Anywhere the UI is using that where it needs to change should be a UI change

[2022-10-31 16:30] SuddenDevelopment commented on #186
committed as flywheel script 399

[2022-11-01 03:47] Mohammed-Luqman-Shareef commented on #186
@SuddenDevelopment , It seems this flyway script has broken some of the functionalities in UI.
The updated categories are not shown in the drop down for scan now.
Can you pls revert it.

[2022-11-01 05:12] Mohammed-Luqman-Shareef commented on #199
@MuqeedA We need to check custom type, not the owasp tag.
Compliance will have Custom type as Compliance1 and Compliance2
Injection will have custom type as injection and stored_injection

[2022-11-01 06:00] muqeetkhan20 commented on #199
@Mohammed-Luqman-Shareef we have already discussed this with @intesar. Here is our conversation for your reference.
![image](https://user-images.githubusercontent.com/68276700/199168867-f6522bbf-7258-41e5-b1b4-be757a408576.png)

[2022-11-01 06:08] Mohammed-Luqman-Shareef commented on #199
Yes, it is both.  We are not changing the OWASP tag.
In the drop-down filter for compliance categories log4j was also picked up wrongly.  Changing that logic in the ui code.

[2022-11-01 06:42] AkaramAli commented on #186
@SuddenDevelopment  , We can not have a space in category field, the last script (V401__category_renaming_revert.sql) that you have pushed has a space in category of tls_headers type.
Because of this , TLS category is not shown in scan dropdown .

Please update the category column to to '**TLS_Headers** ' instead of '**TLS Headers**' .

[2022-11-01 14:13] SuddenDevelopment commented on #186
I supposed all of the remaining changes Intesar asked for will need to be what field the UI looks at

[2022-11-01 15:00] fersy02 opened #200 "[Report]: Closed vulnerabilities appear in the Vulnerabilities tab on the Dashboard and adds inconsistency in the Customer Usage Report"
### Severity

Blocker (No Workaround Available)

### What happened?

There are two issues that could be interlinked.

1. The vulnerability tab on the dashboard lists all vulnerabilities, including the closed vulnerabilities. The expectation is to display only open vulnerabilities.
2. The statistics sent in the customer usage report are not accurate. Here are the details:

One of our client has onl

[2022-11-02 00:59] atef-aa commented on #200
@jaleelsyed - please look into this.

[2022-11-02 01:13] intesar commented on #200
@Mohammed-Luqman-Shareef please assign this to someone. It should be a straightforward fix.

[2022-11-02 05:34] muqeetkhan20 commented on #194
Can anyone provide us the api returning 1000 endpoints; QE would not be able to test this through NB.

[2022-11-02 05:35] muqeetkhan20 commented on #192
Fixed

[2022-11-02 07:35] MaimoonaFatima commented on #162
@atef-aa I'm unable to reproduce the duplicate entries issue.

[2022-11-02 10:09] YasmeenFatima commented on #197
Checked with supplied spec, the issue is reproducible. It's client specific.

[2022-11-02 19:35] SuddenDevelopment commented on #162
I have a similar issue in production environment project = 'test 2' categories search and sort is broken

[2022-11-02 20:02] SuddenDevelopment commented on #162
![Screen Shot 2022-11-02 at 4 01 32 PM](https://user-images.githubusercontent.com/138704/199591497-ea341a79-0b9e-49d8-8b5e-888e69d1405e.png)

Note "xss" is in the search but it's not filtering by it

[2022-11-03 04:39] MuqeedA commented on #162
The display header has null. Please update the header value and try.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/87184027/199648467-33628ac2-a501-4b10-9fa0-d52d545a742c.png">

[2022-11-03 04:54] #192 closed

[2022-11-03 05:09] atef-aa commented on #197
@zafar0506 or @muqeetkhan20 - One of you please pick this item.

[2022-11-03 05:10] atef-aa commented on #196
@MaimoonaFatima - is this included in today's refresh?

[2022-11-03 05:13] atef-aa commented on #194
There are 2 asks in comments:
1. increase the max-limit to 2500 for this api endpoint
2. Correction required in backend code.

@MuqeedA - please provide an update

[2022-11-03 05:16] atef-aa commented on #191
@MuqeedA - Please provide an update when this will be available.

[2022-11-03 05:22] atef-aa commented on #184
@Abdullah-Akbar - Please update the ETA for this.

[2022-11-03 05:29] zafar0506 commented on #197
@atef-aa : I will look into it and update the ticket accordingly.

[2022-11-03 06:03] muqeetkhan20 commented on #162
@MuqeedA If the null value is throwing the error, then we need to resolve this by restricting the user not to insert null values.

[2022-11-03 06:06] muqeetkhan20 commented on #196
@atef-aa QE will pick the tickets which are QA tagged by @apisec-inc/engineering, it indicates they are ready to test.
@abdul-hai-apisec can you please update the status of this ticket?

[2022-11-03 06:13] AkaramAli commented on #186
@atef-aa -This is completed and moved to QA .

[2022-11-03 06:17] muqeetkhan20 commented on #186
@AkaramAli in some areas the changed categories are not displaying; we have discussed this with @Mohammed-Luqman-Shareef
@MaimoonaFatima could you please share the screenshots.

[2022-11-03 06:25] abdul-hai-apisec commented on #196
@atef-aa / @muqeetkhan20 , This fix doesnt depend on our prod refresh, instead it depends on the https://github.com/actions/starter-workflows/pull/1798 approval of pull request.

[2022-11-03 06:29] MaimoonaFatima commented on #186
![image](https://user-images.githubusercontent.com/72252407/199659093-b3b98073-fef3-418e-aaae-3b58ce04b5d1.png)
![image](https://user-images.githubusercontent.com/72252407/199659125-1d61cf08-55ce-457c-b381-56d0e718fc15.png)
![image](https://user-images.githubusercontent.com/72252407/199659402-d2b67126-41e3-49f8-95f6-ae4f97c350ca.png)

[2022-11-03 06:31] abdul-hai-apisec commented on #194
@atef-aa , I have done the required changes already @ https://github.com/apisec-inc/Fxt/commit/fc3577564a3a9dc709b69a9afad551f447bfefb4

[2022-11-03 06:55] AkaramAli commented on #186
@muqeetkhan20 , if you go through the ticket , only Security Category Name/Label (display_header_label) has been updated , not the category column itself  ,so wherever in UI Category Label (display_header_label ) is used , Only that will render the updated values .

[2022-11-03 08:31] Abdullah-Akbar commented on #162
@atef-aa these bugs do not seem related to the original issue. Please separate out.

[2022-11-03 13:42] atef-aa commented on #148
@mjameel757 - did this implementation solve this problem?

[2022-11-03 13:44] atef-aa commented on #191
This task will be picked up by mid of coming week.

[2022-11-03 15:04] SuddenDevelopment commented on #188
I have created a "Reflected GET Injection" Category that is ready to be replicated. Luqman asked that I make a ticket for replicating this one instead of doing it myself.

[2022-11-03 15:06] SuddenDevelopment commented on #186
we discoevered that changing the "category" field causes issues in the UI. We cannot simply update that in the DB.

We can either go through all the changes required for that to work in the DB
OR
update the UI to only use the display_label
OR
assume it's ok for the display label to be different than the category field

I think we have taken this as far as we can for now due to the above limitation

[2022-11-03 15:39] Mohammed-Luqman-Shareef commented on #186
Yes, the category column is referred from many places in the code.  Making changes to it directly in DB breaks few functionalities.
@AkaramAli is working on it to make it independent.
Since the Original ask for changing the display header was accomplished, we can close this ticket.

[2022-11-03 15:47] #186 closed

[2022-11-03 15:49] Mohammed-Luqman-Shareef commented on #188
@SuddenDevelopment, is the category in your lab env?
Can you pls provide access to @AkaramAli.
@AkaramAli, create a flyway script to replicate it.

[2022-11-03 21:55] atef-aa commented on #194
Thanks @abdul-hai-apisec.

@fersy02 please verify the changes and that you're not blocked.

[2022-11-03 22:19] atef-aa commented on #162
@Abdullah-Akbar  - I want it to separate it out, but based on team's observation this error message occurs when there is an empty category value.  I can still separate it add the reference here.

@muqeetkhan20
As per the behavior the name is a required field, and this is a duplicate record, where the first value is accurate.  It is shown in screenshot in my comment from Oct 28th.

[2022-11-04 06:04] muqeetkhan20 commented on #162
@atef-aa the original issue raised by @fersy02 is still not resolved. We are still experiencing it.
btw, @MuqeedA came up with another findings; I think that's a different issue again, we can create a separate ticket, QE couldn't reproduce it though.

Let this ticket remain with the original bug - category paged displays an error.
@Abdullah-Akbar is already looking into it I believe.

[2022-11-04 06:30] FidaUrRahman commented on #194
@fersy02 verified  using endpoint `/api/v1/projects/<projectId>/endpoints` , getting length of the reponse data as 2469
But unfortunately unable to test by running RBAC scan because system getting busy, and playbooks not generating

[2022-11-04 11:32] MaimoonaFatima commented on #199
Verified in stg.

[2022-11-04 13:18] Abdullah-Akbar commented on #184
Solution approach is still under evaluation

[2022-11-04 16:20] intesar commented on #200
@jaleelsyed - thanks for fixing it.

Looks like it's fixed and pending refresh.

[2022-11-04 16:22] intesar commented on #199
@Mohammed-Luqman-Shareef @fersy02 Log4j is more of an OWASP API-10. So we'll keep it that way.

[2022-11-04 16:25] intesar commented on #187
@Mohammed-Luqman-Shareef - please ask someone to look into this enhancement.

[2022-11-04 17:23] SuddenDevelopment commented on #188
@Mohammed-Luqman-Shareef  I created a ticket for it here: https://github.com/apisec-inc/IM/issues/216

[2022-11-04 17:23] atef-aa opened #201 "[Report]: Duplicate categories appear for some accounts"
### Severity

Bug

### What happened?

When a user navigates to a project > configurations > categories
For some accounts there are duplicate entries for CORS_CONFIG and some other categories

**This is the duplicate entry**

![](https://user-images.githubusercontent.com/109250250/198796418-9ebe33e9-401f-4588-9a3a-05d54abaaed6.png)

**This is the correct entry**
![](https://user-images.githubuserc

[2022-11-04 17:24] SuddenDevelopment commented on #188
keep in mind this is for the GET only. I'm working on a separate one for POST because the category types are split that way

[2022-11-04 17:27] atef-aa commented on #201
@MuqeedA also have found some

![](https://user-images.githubusercontent.com/138704/199591497-ea341a79-0b9e-49d8-8b5e-888e69d1405e.png)

The display header has null. Please update the header value and try.

![](https://user-images.githubusercontent.com/87184027/199648467-33628ac2-a501-4b10-9fa0-d52d545a742c.png)